[2014-05-08 01:35] sckott opened #1 "Incorporate code from totopojson"
@joelgombin made https://github.com/joelgombin/toTopoJSON and said we could incorporate here

[2014-05-16 21:43] sckott opened #2 "Support direct conversion to geojson from zip file"
From local or from web

[2014-05-16 22:17] sckott opened #3 "Fxn to push to github gist"
Maybe take out later to simplify pkg, but would be useful at least as a utility to quickly show how one can push a geojson file to the web to visualize

[2014-10-22 21:55] ateucher opened #4 "SpatialPolygonsDataFrame_togeojson fails with any destpath or outfilename other than """
There appears to be a peculiarity of `rgdal::writeOGR` where `dsn` has to be a filename, optionally preceeded by a path, but cannot have a dot in the filename (thus `dsn="myfile.geojson"` fails), and layer is ignored.  The only way I can actually output a file with `SpatialPolygonsDataFrame_togeojson` is:

[code]

which creates a file in the working directory called `.geojson`.

I'd appreciate if

[2014-10-22 22:06] ateucher opened #5 "Allow `to_geojson()` to work on Spatial*DataFrames"
Right now it has methods for data.frames and lists, it would be nice to be able to use `to_geojson` directly on a SpatialDataFrame.

Can `SpatialPolygonsDataFrame_togeojson` be implemented as a method for `to_geojson`, and also be called from within other methods?  I have never delved too deeply into class methods, so I don't know the best way to go about it.

[2014-10-22 23:59] sckott opened #6 "Make file_to_geojson a method on to_geojson"
So have `to_geojson.file_local` and `to_geojson.file_remote`

This way users can just have one interface `to_geojson()` regardless of list, data.frame, sp classes, local or remote file

[2014-10-23 00:00] #1 closed, assigned to nobody

[2014-10-23 00:02] #2 closed, assigned to nobody

[2014-10-23 00:18] sckott opened #7 "Replace RJSONIO with jsonlite"

[2014-10-23 00:20] #3 closed, assigned to nobody

[2014-10-23 05:41] #7 closed, assigned to sckott

[2014-10-23 20:12] #4 closed, assigned to sckott

[2014-10-23 22:08] sckott opened #10 "reworked to_geojson function"
@ateucher @cboettig if you have time, love to get your feedback on this.

install

[code]

Then try the examples in `to_geojson()`, `to_geo_json()` and `to_geo_list()`, where those each can take in the same classes (data.frame, list, SpatialPoints\* classes, etc., but each outputs only files, json, and R  lists, respectively.

Thoughts?  if this seems better, I'll merge this into master soon. I th

[2014-10-26 23:49] #5 closed, assigned to sckott

[2014-10-27 17:21] ateucher opened #11 "Implement methods for all classes"
For `geojson_json()`, `geojson_list()`, `geojson_write()`, have methods for:

- [x] SpatialPolygons
- [x] SpatialPolygonsDataFrame
- [x] SpatialPoints
- [x] SpatialPointsDataFrame
- [x] SpatialLines
- [x] SpatialLinesDataFrame
- [x] list
- [x] data.frame
- [x] numeric

[2014-10-29 00:56] sckott opened #12 "TopoJSON can be read with rgdal"
Apparently now this is possible http://rud.is/b/2014/09/26/overcoming-d3-cartographic-envy-with-r-ggplot/

With `gdal` > `1.11` and reinstall rgdal to use the appropriate `gdal-config` file

With this, we can have a function to read in topojson files in addition to the read in geojson files

[2014-10-31 05:14] #10 closed, assigned to nobody

[2014-10-31 05:22] sckott opened #15 "Make read functions"

[2014-10-31 17:54] sckott opened #17 "Export as.SpatialPointsDataFrame functions?"
hey @ateucher  Do you want `as.SpatialPointsDataFrame.SpatialPoints` and `as.SpatialPointsDataFrame.SpatialLines` exported for users? Or just for internal use?

[2014-10-31 17:56] sckott opened #18 "Add some geojson and topojson files in inst/ for demonstration purposes"

[2014-10-31 19:24] #17 closed, assigned to nobody

[2014-10-31 19:24] #18 closed, assigned to sckott

[2015-01-05 23:55] sckott commented on #11
added spatialpoints, spatialpointsdataframe, spatiallines, and spatiallinesdataframe in fb1962508bfcb12af474e11c96e513c61114486d, 07cee0b3f2389764438b1b40df1ebb17212fd4ef, d51419821b80fe6c0fe1e8e2a160c33620cd09ee, and 88f7431b88f2ba596e116d00c407df13f11cc73f

[2015-01-06 00:11] #12 closed

[2015-01-06 00:11] #11 closed

[2015-01-06 00:11] #15 closed

[2015-01-06 00:41] ateucher commented on #11
Nice!

[2015-01-06 00:56] sckott opened #19 "renamed pkg"
@ateucher as you can see i renamed the pkg to `geojsonio` - i think it makes more sense this way, conveying that it goes to and from geojson, I couldn't find anyword that could stand in for both geojson and topojson

[2015-01-06 01:27] ateucher commented on #19
I think that works well. Similar to rjsonio with a geo focus. And topojson is just a special form of geojson, so it seems good to me.

[2015-01-06 01:28] sckott commented on #19
okay, cool

[2015-01-06 01:28] #19 closed

[2015-01-06 17:13] sckott opened #20 "Functions to validate geojson and topojson"

[2015-01-06 17:19] sckott opened #21 "Add more spatial classes"
From `sp`

- [x] SpatialGrid
- [x] SpatialGridDataFrame
- [x] SpatialPixels
- [x] SpatialPixelsDataFrame

From `rgeos`

- [x] SpatialRings
- [x] SpatialRingsDataFrame
- [x] SpatialCollections

[2015-01-07 00:22] #20 closed

[2015-01-07 15:02] sckott opened #22 "topojson, possibly remove node dependency?"
GDAL can only read topoJSON via the geoJSON driver, so if we remove the node function, the pkg can't write topojson, but maybe that's okay.  Keep looking around for a non-node way to write topojson

[2015-01-07 21:35] ateucher commented on #22
I think for a lot of people it would be very handy to keep it in.  In your experience, will CRAN reject it because of this external dependency? I'm pretty sure rgdal requires gdal to be installed for the package to work (for Linux at least), so not sure how this is different?

[2015-01-07 21:57] sckott commented on #22
Okay, so I'm not positive that we couldn't get it through CRAN, but I imagine it might not fly. GDAL is a C or C++ library, which works fine on CRAN.  the npm module topojson is only used for one function https://github.com/ropensci/geojsonio/blob/master/R/topojson_write.r so nota  huge change to this pkg. If we do take out, we could put it in a separate tiny R package just for wrapping the topojs

[2015-01-07 22:05] ateucher commented on #22
Ah, I see, that makes sense. I like that idea a lot actually.

[2015-01-07 22:10] ateucher commented on #22
Actually, isn't that what this is: https://github.com/joelgombin/toTopoJSON?

[2015-01-07 22:12] sckott commented on #22
heh, right, i forgot, that's why his name is in the author list in this pkg. if we take out, we can redirect users to his pkg

[2015-01-07 22:53] ateucher commented on #22
:+1:

[2015-01-09 17:26] timelyportfolio commented on #22
:+1:

[2015-01-14 18:13] sckott opened #23 "mapbox turf js library could be fun to play with via V8"
an e.g., http://turfjs.org/examples/turf-nearest/

lots of functionality in `rgdal` and friends to do geospatial analysis, but perhaps there's others there and other js libraries to be had

[2015-01-14 20:53] sckott opened #24 "Look into using topojson via V8"

[2015-01-14 21:27] sckott commented on #24
Seems we can do this via importing the topojson min.js file then using https://github.com/mbostock/topojson/wiki/API-Reference#server-api

but haven't figured this out quiet yete

[2015-01-15 03:01] sckott opened #26 "methods for map_gist for each class"

[2015-01-15 03:11] sckott opened #27 "geojson_write should return path on exit"

[2015-01-15 03:13] sckott commented on #27
and NULL passed in should not fail

[2015-01-15 05:08] lmullen commented on #26
Would you be interested in using cartographer to do this? It can currently
do GeoJSON polygons; the others could be added. Just a thought, since using
a gist for mapping is a little less reliable than doing it locally.

On Wednesday, January 14, 2015, Scott Chamberlain <notifications@github.com>
wrote:

[2015-01-15 16:09] sckott commented on #26
@lmullen good idea - I ended up finishing off the `map_gist()` methods as i was nearly done

But, would be cool to see if we can use `cartographer` here too. What's the appropriate function I should look for?

[2015-01-15 16:39] lmullen commented on #26
It's the `geojson_layer()` function, described in the vignette [here](http://lincolnmullen.com/research/cartographer/#geojson). Right now that only works with polygons; I need to think about the best way to implement points and lines.

I'm going to remove the `sp_to_geojson()` function in cartographer and replace it with the geojsonio functions.

[2015-01-15 16:50] sckott commented on #26
@lmullen Great, thanks.  Will start this...

[2015-01-15 16:51] sckott opened #28 "Use cartographer mapping functions, e.g., `geojson_layer()`"
from #26

[2015-01-15 19:07] sckott commented on #28
@lmullen started an interface to your package, not sure if it makes sense since I just started using it...

see the `map()` function - I wonder if this is a problem though if each of these packages imports the other?

[2015-01-16 01:31] xinye1 opened #29 "Failed to install on R 3.1.2"
In addition: Warning message:
package ‘cartographer’ is not available (for R version 3.1.2)

OS: Ubuntu 14.04 LTS

Thanks

[2015-01-16 01:49] sckott commented on #29
@xinye1 sorry about that, just today added a new pkg import `cartographer` - i updated the readme install instructions - follow this: https://github.com/ropensci/geojsonio#install

[2015-01-16 02:46] lmullen commented on #28
I was thinking you might want to use cartographer for examples and vignettes and so only in the `Suggests` field, but now I see you have bigger plans. I suspect that I won't need to depend on geojsonio but will instead point people to it in examples and vignettes. I'll have to see once I can work on cartographer more. Will including geojsonio in `Suggests` avoid problems?

[2015-01-16 03:23] sckott commented on #28
@lmullen hmmm, thinking about this more, of course after I've done it, you are right that it makes more sense with `cartographer` in `Suggests` to show examples - I'll do that - I think we're good if I have `cartographer` in `Suggests` and you have `geojsonio` in `Suggests`

[2015-01-16 04:02] sckott commented on #29
@xinye1 sorry to flip flop, but i removed cartographer, so that's no longer needed

[2015-01-16 13:41] lmullen commented on #28
Sounds good.

On Thursday, January 15, 2015, Scott Chamberlain <notifications@github.com>
wrote:

[2015-01-16 22:03] xinye1 commented on #29
Nice.
Great package. Thanks!

[2015-01-16 22:03] #29 closed

[2015-01-21 03:54] #28 closed

[2015-03-06 04:08] lmullen opened #30 "geojson_json.num returns invalid point"
Running this example

[code]

returns

[code]

According to GeoJSON lint, that is not valid. One possible option is to return something like this:

[code]

But even better would be to return a `FeatureCollection` for all GeoJSON objects, so that receiving code could work with them in the same way. For instance,

[code]

returns

[code]

I think it would be idea if each method returned a `FeatureCo

[2015-03-06 06:36] sckott commented on #30
you're right that that point output is not valid

thinking about the `FeatureCollecting` thing, a `GeometryCollection` could optionally be returned

@ramnathv any opposition to returning everything as a `FeatureCollection`?

[2015-03-06 11:23] ramnathv commented on #30
@sckott That should work I think. Do you want to create a separate branch so that we can test it out before rolling it out to the master?

[2015-03-06 16:32] sckott opened #31 "Linting"
mapbox has a nice javascript linting library - seems better than using a web API

[2015-03-06 16:44] sckott commented on #31
right, forgot we already had `validate()` using the geojsonlint.com API

i imagine it's good to have both options for people that want that, and the mapbox js file is small

[2015-03-06 16:52] sckott commented on #30
Yes, sounds good on a sep branch. Will do that soon

[2015-03-06 17:23] #31 closed

[2015-03-06 18:05] sckott commented on #30
@lmullen @ramnathv  what's your feeling on `GeometryCollection` types?  Do you use them?  We could default to `FeatureCollection` as output, but allow user to choose `GeometryCollection`

[2015-03-06 18:08] ramnathv commented on #30
I have not used `GeometryCollection` much. Does `github` render these?

I would agree with having `FeatureCollection` as the default and letting the user switch to `GeometryCollection` if desired.

[2015-03-06 18:09] sckott commented on #30
Yes, github gists at least renders `GeometryCollection`. https://gist.github.com/sckott/b3901e750381ab9f4f43 is in `GeometryCollection` format, from the example for that type at http://geojsonlint.com/

[2015-03-06 18:40] lmullen commented on #30
I haven't used `GeometryCollection` before, but I like your idea of having
`FeatureCollection` as the default and letting users switch to
`GeometryCollection`.

On Fri, Mar 6, 2015 at 1:09 PM, Scott Chamberlain <notifications@github.com>
wrote:

[2015-03-06 22:20] sckott opened #32 "Guess lat/long columns from data inputs"
Seems logical to try to guess lat and long columns from data inputs (e.g., data.frame, named list, we should be fine on sp classes), and if not, then fail with message that lat and long columns could not be determined - so please specify...

[2015-03-06 22:37] lmullen commented on #32
The `leaflet` package does this nicely with its [`getLatLongColumns()` function](https://github.com/rstudio/leaflet/blob/5c82288d33f5a94b9b9becdcdfb0547f66111817/R/normalize.R#L3).

[2015-03-06 22:39] sckott commented on #32
Nice, thanks @lmullen ! i imagine we can repurpose that code?

[2015-03-07 01:07] sckott commented on #30
@lmullen check it out after installing from featcoll branch  `install_github("ropensci/geojsonio@featcoll")`

[2015-03-07 01:08] sckott commented on #30
for now, sp classes can only be output as `FeatureCollection` as we use `rgdal::writeOGR` to make geojson from those classes

[2015-03-07 23:27] lmullen commented on #30
@sckott I tested that branch and it looks great.

[2015-03-07 23:36] ramnathv commented on #30
@sckott It looks good.

[2015-03-08 02:12] sckott commented on #30
great, i'll write a few more tests to make sure I didn't miss anything, then merge in

[2015-03-09 23:22] sckott commented on #30
closing, about to merge to master

[2015-03-09 23:22] #30 closed

[2015-03-09 23:23] sckott commented on #23
in a separate package https://github.com/ropensci/lawn

[2015-03-09 23:23] #23 closed

[2015-03-10 00:38] sckott commented on #26
working on cleaning these up right now, though problem with largish files ropensci/gistr#27

[2015-03-10 19:49] sckott opened #34 "Add check for `.list` methods to make sure if polygon set coordinates actually work"
That is, coordinates must form a polygon, where the first has to be the same as the last coordinate pair

[2015-03-10 20:59] sckott commented on #32
this is done

[2015-03-10 20:59] #32 closed

[2015-03-13 19:17] sckott opened #35 "Preserve projection information when converting from `sp` family classes"

[2015-03-13 19:49] sckott opened #36 "Method to add together features"
E.g.,

[code]

to make a `FeatureCollection` with both

[2015-03-13 23:30] sckott commented on #36
the simple part is done of joining `geo_list` objects together, and joinging `json` objects together, but need to figure out how to add together objects of different types, e.g. `geo_list` + `json`, `geo_list` + `json` + `SpatialPoints`

[2015-03-13 23:43] sckott commented on #27
we already do return the path, failure behavior on null seems good alrady

[2015-03-13 23:43] #27 closed

[2015-04-18 15:53] sckott commented on #26
think this is done

[2015-04-18 15:53] #26 closed

[2015-04-18 15:53] sckott opened #37 "Make a vignette"

[2015-04-18 15:56] sckott commented on #36
good for `v0.1` - try to figure out remainder of problem for next mliestone

[2015-04-19 15:30] #21 closed

[2015-04-20 23:53] sckott commented on #24
i think this will work, but it will take a bit to get this interface to `topojson` via `V8` done right, so take out `topojson_write()` for now, and replace with interface via `V8` in a future version to go to cran

[2015-04-20 23:54] sckott commented on #22
see comment https://github.com/ropensci/geojsonio/issues/24#issuecomment-94594884

removing the node dependency for now, will reintroduce ability to write topojson later version

[2015-04-21 00:28] #22 closed

[2015-04-21 00:28] #37 closed

[2015-04-21 00:52] sckott opened #38 "importFrom as needed before cran push"

[2015-04-21 03:44] sckott opened #39 "Add vignette for geojson spec info"

[2015-04-21 16:12] sckott commented on #38
done

[2015-04-21 16:12] #38 closed

[2015-04-21 16:20] sckott opened #40 "Reduce destpath and filename in file_to_geojson to just one param"

[2015-04-21 17:48] #6 closed

[2015-04-21 17:48] #40 closed

[2015-04-21 17:54] #39 closed

[2015-04-21 19:22] sckott opened #41 "Replace rgdal for serializing to/from geojson"
Look and see if can just depend on a small javascript library for this - doing in pure R doable, but slow

[2015-04-22 00:02] sckott opened #42 "Replace dplyr::rbind_all so import not needed"

[2015-04-22 05:36] #42 closed

[2015-04-22 05:39] sckott opened #43 "gistr to suggests as the fxn using it is sort of tangential"

[2015-04-22 15:56] #43 closed

[2015-04-22 18:49] sckott opened #44 "Try to move rgeos to Suggests"
Working on this, looks as though not possible, unless I'm missing something. Seems that the `setAs()` calls are the primary problem, where these definition calls are needed inside the package.

Tried to put these within the `check4rgeos()` calls, so they'd only run when user had rgeos installed, but error

[code]

keep exploring, probably have to leave this in Imports though

[2015-04-22 21:29] noamross opened #45 "Full-package code review, per request"
## General:

-   This package adheres well to all the packaging guide standards.

## Tests

-   Tests all pass
-   Reported coverage is 16%.  This seems low.  Is it because of extensive use of S3 methods?

## README and vingettes:

Errors found:

-  README.Rmd line 119: The `plot()` command yields an error.  There is not a plot method for the type (which is "list").
    -   Shouldn't `geojson_read

[2015-04-22 21:33] sckott commented on #45
I just need to write more tests!

[2015-04-22 22:30] noamross commented on #45
One quick thing I forgot:

-  \``+`\` not covered in README or vignettes.  It's probably a good idea to have it there.  It's a nice feature and such operators are always a bit challenging to discover in the help.

[2015-04-22 23:58] sckott commented on #45
first, thanks a million @noamross for doing this.  To do, AFAIK:

* on the `+` methods - agreed, need to document that, will do
* fill out test suite
*
*
*
*
*

[2015-04-23 00:20] sckott commented on #41
working on the `js` branch - using a js library to see if we can do away with gdal

[2015-04-23 00:53] sckott opened #46 "Fill out test suite"

[2015-04-23 01:37] sckott opened #47 "Add a small method to figure out bounding box for entire view for mapping, other purposes"

[2015-04-23 02:00] karthik commented on #45
That's an excellent suggestion @noamross! Will have to keep that in mind.

[2015-04-23 05:19] sckott commented on #45
discussion of more general reviewing topics moved to , lat1 = bnds$lat1

[2015-04-23 13:54] sckott commented on #47
and a `centroid()` function

[2015-04-23 15:51] sckott opened #48 "Add local plotting methods"
Doesn't make sense to add to `map_gist()` since in the fxn name itself we're indicating that we're making a gist, but could add a separate fxn(s)

from #45

[2015-04-23 16:11] sckott opened #49 "Add back mapping egs"
Taken out for now as `leaflet` and `cartographer` aren't on cran yet

by `v0.2`, likely at least one will be on cran

[2015-04-28 02:57] caraka opened #50 "'Invalid cross-device link' - file renaming fails"
*file.rename*, as used in zzz.r, can fail across file systems. In my use case it fails when geojson_write() attempts to rename the output between an unencrypted /tmp/file where it is created and my encrypted /home folder, the designated output location.

The fix, according to google, is straightforward [TM that!]. Replace *file.rename* with *file.copy*. I have done so within my branch, and it has

[2015-04-28 05:11] sckott commented on #50
hi @caraka -

I haven't seen this issue, so I'm glad you're bringing this up.

That seems to work fine, so I'll merge the PR

[2015-04-28 05:12] #50 closed

[2015-04-28 16:14] sckott commented on #45
i've addressed everything here, a few issues opened up to deal with later

[2015-04-28 16:14] #45 closed

[2015-04-28 19:09] sckott opened #53 "Fix bug in numeric input to geojson_write"
#' # From a numeric vector of length 2
#' ######### FIX ME -------------------------------------------------------
#' vec <- c(-99.74, 32.45)
#' geojson_write(vec)

[2015-04-28 19:45] sckott commented on #47
this is mostly done

[2015-04-28 19:45] #47 closed

[2015-04-28 19:51] #53 closed

[2015-04-28 20:16] sckott opened #54 "Fix style_geojson, not working for lists yet"

[2015-04-28 22:00] sckott commented on #54
rename to `geojson_style()`

[2015-04-29 20:22] #54 closed

[2015-05-01 17:14] justa9 opened #55 "geojsonio fails to load under Windows XP, plus proposed fix"
Running "library(geojsonio" returns an error:

"The procedure entry point _localtime32_s could not be located in the dynamic link library msvcrt.dll".

jsonlite had a similar problem but was resolved thus:
https://github.com/jeroenooms/jsonlite/blob/master/src/yajl/yajl_tree.c#L28-L30

[2015-05-01 17:18] sckott commented on #55
You were able to install the package though?  your code above has `library(geojsonio` without the closing parentheses. Is that a typo?  `jsonlite` is an import in this package, so I imagine if a fix was put in there, it would be helpful for you (as long as you have that version of `jsonlite`)  What version of `jsonlite` do you have?

[2015-05-01 17:26] justa9 commented on #55
Yes, deeply sorry for the typo.  jsonlite loads and works correctly.

The (binary) package of geojsonio is succesfully installed. However, when I try to load it, I get the same error. I did try to compile from source (last night, as I caught up an announcement at social media), but the same error was reported.

Just to be clear: The error message I posted previously is a pop-up window.

The error

[2015-05-01 17:30] sckott commented on #55
No worries about typo. Looks like a V8 problem. an you install and load `V8` package successfully?

[2015-05-01 17:32] justa9 commented on #55
I edited the comment instead of posting again.

V8 is the culprit (and does not load)

[2015-05-01 17:34] sckott commented on #55
@justa9 okay, thx

@jeroenooms any thoughts on windows XP and `V8`

[2015-05-03 22:22] karthik opened #56 "Small bug"
When using `geojson_write` to turn a df into geojson (which is awesome btw), I see that some of the field names get changed.
e.g.
`marker-size` → `marker.size`
`marker-color` →  `marker.color`

Both of these changes break standard Mapbox fields and I have to manually fix these later.

[full example](https://github.com/karthik/mapbox-test/blob/b471e29e378621926d6e45be6dd6f0e199c8c31b/code.R#L34-L37

[2015-05-04 02:25] karthik commented on #56
For the moment I've fixed this by replacing with `toGeoJSON` from `leafletR` which does this step correctly.

Line: https://github.com/karthik/mapbox-test/blob/master/code.R#L43

[2015-05-04 04:56] sckott commented on #56
thanks for this, i'll look into it

[2015-05-04 06:31] sckott commented on #56
okay does that work now after reinstall @karthik

[2015-05-04 19:30] karthik commented on #56
Yep, all fixed up. Thanks @sckott!

[2015-05-04 20:51] karthik commented on #56
Sorry to add one more thing. It also butchers urls.

[code]

That's also something that needs to be fixed.

[2015-05-05 00:09] sckott commented on #56
it's a problem in GDAL/rgdal escaping the string, seeing how to fix

[2015-05-05 01:02] sckott commented on #56
no solution yet - still poking around SO and GDAL to see if some way to avoid URL escaping

FWIW, if I write geojson then read the file back in it parses fine

[2015-05-05 15:12] sckott commented on #55
sorry @justa9 - still trying to figure this out, makes it harder since I can't seem to find a windows xp machine to test things on

[2015-05-05 16:17] jeroenooms commented on #55
I'm sorry I don't have a windows XP machine either, it might be very hard to debug this. Given that the system is officially deprecated, I am not sure if it's really worth it getting to the bottom of this.

[2015-05-05 17:15] sckott commented on #55
Okay, thanks @jeroenooms

[2015-05-05 18:11] sckott opened #57 "Possibly put V8 in Suggests `::` call it's functions"
as it's not used that much right now, only for linting geojson.

however, working on replacing GDAL with a javascript library for writing geojson to disk, so v8 would be more integrated then...

[2015-05-05 18:12] sckott commented on #55
@justa9 one solution is to put `V8` in `Suggests`, and then its not required for loading the package, V8 is not needed in most of this package right now, but I have plans to use it more widely in this package, so it wouldn't make sense to do that soon

see #57

[2015-05-05 18:13] sckott commented on #55
@justa9 is there any chance you can upgrade your windows OS soon?

[2015-05-05 18:15] jeroenooms commented on #55
@justa9 Is it just V8 or are you also having issues with other `Rcpp` packages? It's really difficult to debug this. Why are you running such an old system? If you don't want to pay for a new one, have you considered switching to linux?

[2015-05-07 08:31] justa9 commented on #55
Apologies for the delay in answers

@sckott I cannot afford either a new update or a transition to linux-based OS, however I am willing to try out proposed fixes.

@jeroenooms I have not come up across any other kind of problem regarding Rcpp packages, although I am not sure whether I have used that many of them.  Still I am willing to try out proposed fixes.

[2015-05-16 01:47] sckott commented on #55
@justa9 sorry about this - but I don't know what to offer other than i'd suggest googling around to see if you can get V8 installed on windows xp. sorry for not being more helpful!

[2015-05-16 01:47] #55 closed

[2015-05-16 01:48] sckott commented on #57
yeah, not gonna move it to suggests, cause gonna be important soon

[2015-05-16 01:48] #57 closed

[2015-05-27 05:56] benmarwick commented on #55
One possible workaround here might be to use RStudio in a Docker container via the [Rocker project](https://github.com/rocker-org/rocker/wiki/Using-the-RStudio-image). Then you should be able to do anything that Linux can do. The key requirement is 64-bit Windows.

That will give you a Linux OS inside the regular Windows OS. Not 100% sure about XP. but works great with Windows 7.

[2015-05-27 17:18] sckott commented on #55
thanks for the comment @benmarwick - trying to see if i can figure out how to get v8 on xp

[2015-05-27 22:28] sckott commented on #55
@justa9 Is Rocker something you can try?  See comment by @benmarwick above

[2015-05-27 23:28] jeroenooms commented on #55
@sckott how did you get your hands on an xp box?

[2015-05-27 23:33] sckott commented on #55
@jeroenooms here http://dev.modern.ie/tools/vms/#downloads

[2015-05-27 23:35] jeroenooms commented on #55
ah cool. I thought they were no longer offering those because xp is deprecated. But I guess they still work.

[2015-05-27 23:36] sckott commented on #55
yeah, i don't know why they are pitched as IE testing boxes, but at least I could install things on there, R, Rstudio, etc.

[2015-05-29 19:52] sckott commented on #56
@karthik did you see my last comment?  thoughts?

[2015-05-29 21:36] sckott commented on #44
i think we're stuck with this if we want rgeos classes here, closing

[2015-05-29 21:36] #44 closed

[2015-05-29 23:11] karthik commented on #56
I did, feels ok to leave it for now. I'lll also explore other sources that might help with url escaping. One might not read this file back using geojsonio and with some third party js script, which is where the problem lies.

[2015-05-30 00:17] sckott commented on #56
Right, i'll open a new issue just for this escaping thing  - to deal with when solution found

[2015-05-30 00:23] sckott opened #59 "Fix URL escaping"
From #56

`geojson_write()` breaks URL escaping b/c of `rgdal::writeOGR()`

haven't yet figured out how to fix this

[2015-05-30 00:23] #56 closed

[2015-05-30 01:23] sckott commented on #34
tested, and this works

[code]

, at least on

[code]

add in after andy's PR is merged

[2015-06-03 15:58] sckott opened #60 "geojson_read - optionally give back sp class"
with logical parameter

[2015-06-04 10:27] Robinlovelace commented on #60
This will be very useful.
In case it helps, a solution from raw json is provided here: https://stackoverflow.com/questions/29066198/how-to-load-part-of-a-multifeature-geojson-file-in-r
I'm happy to test this feature.

[2015-06-04 12:37] sckott commented on #60
cool, will do soon

[2015-06-04 16:04] justa9 commented on #55
@skcott Since Rocker requires 64-bit, I am out of luck :-(

[2015-06-04 16:07] jeroenooms commented on #55
@justa9 can you try to install the development version of v8 from github?

[2015-06-04 16:09] sckott commented on #55
@jeroenooms but didn't you roll back that change https://github.com/jeroenooms/V8/issues/12#issuecomment-106123210

[2015-06-04 16:11] jeroenooms commented on #55
Later I added a hack: https://github.com/jeroenooms/V8/blob/master/src/Makevars.win#L16-L21

[2015-06-04 16:11] justa9 commented on #55
I did and it works!

[2015-06-04 16:12] justa9 commented on #55
@jeroenooms I just did and it works! Thanks a lot guys! Now the CRAN version of geojsonio loads and works as expected.

[2015-06-04 17:48] jeroenooms commented on #55
OK i'm glad it works. By the way maybe you can get the free update to windows 10 ;)

[2015-06-05 09:51] fxi opened #61 "postgis connection"
I'm looking for a way to quickly extract valid spatial data from postgis, and transform geometry if necessary, to display formated result in R leaflet package. For now, i'm using geojson with system("ogr2ogr ...") and -sql argument, and read the output using jsonlite. Minimalist and reliable, but not integrated in R. Other solutions (rgdal/ gdalUtils)  did not work for me (always returning a shp..

[2015-06-05 12:40] sckott commented on #61
hi @fxi Thanks for the message. I haven't used postgis - I'm playing with it now to become more familiar.

What data output do you get when doing a query with postgis?  Can you not use the postgres R client https://github.com/rstats-db/RPostgres to query and get data back?

Good timing because we are interested in making it easier to interact with the SQLite spatial client https://github.com/ropen

[2015-06-05 13:26] fxi commented on #61
Hi,
Thanks for your quick reply !

(Sorry for my frenchglish )

First of all, I'm not at all an expert in PostGIS, but I've learned some basic tricks I could share.

You can extract a variety of geometry type from PostGIS:
http://postgis.net/docs/reference.html#Geometry_Outputs

If you export geometry as geojson with something like:
[code]
You get, for each row, a individual geojson feature. So, y

[2015-06-06 19:23] sckott commented on #61
Thanks for this, getting to this, just got done with busy hackathon...

[2015-06-09 18:05] sckott commented on #60
@Robinlovelace I added giving back spatial classes as an option in `geojson_read()` - still doesn't work for featurecollection's. I'm wondering if a solution for that will be complicated b/c you can have many different things inside a featurecollection. In addition, we'd need to consider geometrycollection's. I wouldn't want to make system calls in a package, too messy. But we could parse the geoj

[2015-06-10 07:32] Robinlovelace commented on #60
Sounds good. I think what is needed is a way to identify the 'core' spatial objects (primarily SpatialLines, Points and Polygons and DataFrames) and then extract them in a generic way. A way to split these features in list form (Filter???) means we're half-way there. Then it's just a question of creating a function for converting a list to a Spatial* object, list2sp(), for example... Any way I can

[2015-06-10 16:06] sckott commented on #60
Okay, i'll get started on it and ping you for feedback, etc.

[2015-06-12 00:20] Robinlovelace commented on #60
@sckott confirmed: your `what="sp"` argument works perfectly.

Those spatial classes are really important for a whole host of GIS/Scientific packages so many thanks for working on this.

[2015-06-12 05:11] sckott commented on #60
@Robinlovelace cool!

[2015-07-10 00:51] sckott opened #62 "Import all non-base R functions"
see http://cran.r-project.org/web/checks/check_results_myrmecocystus_at_gmail.com.html#geojsonio

[2015-07-10 00:53] #62 closed

[2015-07-10 19:36] sckott commented on #49
`leaflet` now on cran, can use in egs

[2015-07-10 22:15] #49 closed

[2015-07-11 00:58] sckott commented on #48
hmm, anything that is already a spatial class can just use `sp::plot()`

just about finished with `map_leaf()` to do leaflet mapping

[2015-07-11 01:09] #48 closed

[2015-07-11 01:10] sckott commented on #60
looks done

[2015-07-11 01:10] #60 closed

[2015-07-11 15:32] sckott commented on #61
hmmm, working on this, but constraint I'm seeing is that we want `geojson_read()` to always return geojson data (actually, can optionally return spatial class now, but default is geojson as a list) - so if a postgres query a user gives would return points, or individual geojson features (e.g,. `{"type":"Point","coordinates":[42.40047,-71.2577]}`), we'd want to make sure those are combined into a v

[2015-07-11 16:11] sckott commented on #61
Another problem is that I'd prefer to use the newer Postgres R client https://github.com/rstats-db/RPostgres, but not sure when that will be on CRAN

[2015-07-11 16:23] sckott commented on #61
@fxi see https://github.com/ropensci/geojsonio/blob/master/R/geojson_read.R#L44-L56 and https://github.com/ropensci/geojsonio/blob/master/R/postgis.R

[2015-07-11 20:16] sckott commented on #61
@fxi for your 2nd example above in https://github.com/ropensci/geojsonio/issues/61#issuecomment-109292184 can you share what those tables are: `spatial_table` and `geometry_columns`  - I'm not sure yet what that example is doing

[2015-07-12 14:01] fxi commented on #61
Thanks !
* I've seen that you have reproduced the exemple from [postgisonline](http://www.postgresonline.com/journal/archives/267-Creating-GeoJSON-Feature-Collections-with-JSON-and-PostGIS-functions.html). Did you get something interesting ?
* What the advantages of the newer version of RPostgres ?
* The PostGIS `geometry_columns` table contains geometry info, such as `f_geometry_column` (name of

[2015-07-12 15:50] sckott commented on #61
I just used that so I could get something tested quickly...

The newer one will have support moving forward https://github.com/rstats-db/RPostgres

[2015-08-12 06:50] sckott opened #63 "File to geojson, check encoding works generally"

[2015-08-12 06:50] sckott commented on #63
In readogr call

[2015-08-12 14:25] sckott opened #64 "Move postgres/postgis stuff out for this cran push"
put back in after push...RPostgres not on CRAN yet, hopefully by time of next milestone

[2015-08-12 15:15] sckott commented on #64
done

[2015-08-12 15:15] #64 closed

[2015-08-12 15:44] #34 closed

[2015-08-12 16:25] sckott commented on #63
seems to work fine on ubuntu

[2015-08-12 17:08] #63 closed

[2015-09-18 22:23] hansthompson commented on #36
I really like your package and use it with with leaflet. It would be really awesome to see this new feature. I've been playing around with maybe doing it the slow and dirty way:
1. converting each json object to a string.
2. removing the featurecollection & features/geometerycollection & geometries headers and ending brace
3. concatenating each feature with a coma
4. Adding back the headers and en

[2015-09-18 22:45] sckott commented on #36
@hansthompson glad you like it :smile_cat:

This does exist in the package now, just doesn't combine different classes, only within class.

What is __it__ here?  What are you trying to combine?

be easier to understand if you could give a brief example, plz

[2015-10-13 17:49] hansthompson opened #65 "Additional linux dependency: v8"
Hi. I love all your work and this package is great.

I tried installing this package on ubuntu and it is asking me for v8.

[code]

I installed libv8-dev and it worked fine.  I'm not even sure if this is an issue as it is listed in the error message to install it.

[2015-10-13 17:59] sckott commented on #65
hi @hansthompson thanks for the kind words :smile_cat:

Right, `libv8` is required, and there's not really a machine actionable way to make that install in R that I know of.

@jeroenooms do you think I should have the line you have in SysReq's  https://github.com/jeroenooms/V8/blob/master/DESCRIPTION#L15 in this pkg (and others that import the `V8` R client)

[2015-10-13 20:37] hadley opened #66 "Failure with dev testthat"
[code]
[code]

I didn't see it on my last round of revdep tests. I'm planning to submit in a couple of hours, so you'll probably want to get a fix to CRAN in the near future.

[2015-10-13 20:42] sckott commented on #66
thanks!

[2015-10-13 21:49] jeroenooms commented on #65
No that makes no sense, libv8 is a dependency of v8. You shouldn't list recursive dependencies in your description, that would be silly :) From what I read above everything did exactly what it needed to do. geojsonio depends on v8, which kindly explained the user that libv8 is required on linux.

[2015-10-13 22:00] sckott commented on #65
thanks for your help

[2015-10-13 22:01] sckott commented on #65
thanks @hansthompson - looks like there's nothing to change in the package, but thanks for dropping in - and let me know of any further issues

[2015-10-13 22:01] #65 closed

[2015-10-16 22:46] ateucher opened #67 "Add geo_list class to output from geojson_list.list?"
Should we wrap the return value from [here](https://github.com/ropensci/geojsonio/blob/master/R/geojson_list.R#L303) in `as.geo_list`?

[code]

[2015-10-16 23:31] sckott commented on #67
Yeah, I think so. PR? or I can do

[2015-10-16 23:44] ateucher commented on #67
PR sent. Should work, though I did it straight in GitHub, so didn't test it.

[2015-10-28 18:32] sckott commented on #61
Sorry it's been a while on this. I want to wait until https://github.com/rstats-db/RPostgres is on CRAN, should be hopefully early next year some time.

[2015-10-29 09:58] fxi commented on #61
Thanks a lot for keeping an eye on this.

[2015-11-03 17:47] ateucher opened #69 "Update rgdal dependency due to fixed bug in rgdal::writeOGR"
There was a bug in `rgdal::writeOGR` that resulted in multipolygon objects not being written to geojson correctly (and other spatial types that use the Simple Features specification - basically everything other than ESRI). You can follow the thread here: https://stat.ethz.ch/pipermail/r-sig-geo/2015-October/023609.html

Roger Bivand was a rock star and implemented a fix impressively quickly, which

[2015-11-03 18:20] sckott commented on #69
Thanks @ateucher

Good idea, agree to require that version

[2015-11-03 18:30] ateucher commented on #69
:+1:

[2015-11-04 00:28] sckott commented on #69
Blargh. Fixed. But need to install more recent version on travis.  Using binary Linux install, but installing v0.8 ish

[2015-11-04 00:39] sckott commented on #69
@ateucher know how to get `rgdal v.1-1-1` on travis?  We're using the easy `r_binary_packages: - rgdal` with `language: r`, but looks like where that comes from doesn't have this version http://ppa.launchpad.net/marutter/c2d4u/ubuntu/pool/main/r/rgdal/

[2015-11-04 00:43] ateucher commented on #69
Argh!

You might want to check out my travis.yml for rmapshaper for installing
those deps: https://github.com/ateucher/rmapshaper/blob/test-v8/.travis.yml.
It took a lot of googling and head bashing to get it to work.  A caveat
though - I have some tests that fail on Travis that pass on my work Windows
machine, as well as my Mac and Linux laptops at home, so I think it may
have something to do wit

[2015-11-04 00:48] sckott commented on #69
nice, thanks @ateucher

Gavin said that the ppa should be updated in a few days. so I'll hold out for that as it's just one line of code :)

[2015-11-04 00:49] ateucher commented on #69
Good call. I may have to try that too...

[2015-11-04 00:50] sckott commented on #69
opening back up until travis is building okay with new version

[2015-11-05 21:29] sckott opened #70 "Close connections"
In at least one place, probably more, connections aren't being closed, sort that out

[2015-11-05 22:08] #46 closed

[2015-11-13 20:20] ateucher commented on #67
Closed via #68 and 6ec75aa709

[2015-11-13 20:20] #67 closed

[2015-11-13 20:49] ateucher opened #71 "Function to convert geojson to Spatial object?"
What do you think about providing a function to convert a geojson object (`geo_list` or `json`) to a Spatial object? I think it would just be a relatively thin wrapper around `readOGR()`?

[2015-11-13 21:48] sckott commented on #71
hmmm, sounds easy, will think a bit

[2015-11-14 01:09] sckott commented on #71
This?

[code]

[2015-11-14 04:19] ateucher commented on #71
I think so. Will you pass `...` to `readOGR`?  I think I would make `disambiguateFIDs = TRUE`. I have run into cases with geojson where there isn't a  unique id field so `readOGR` choked without that parameter.

It may be that the wrapper is so thin and there may be enough cases where one will have to pass other arguments to `readOGR` that it's not worth it.  What do you think?

[2015-11-14 04:23] ateucher commented on #71
[code]

[2015-11-14 07:21] sckott commented on #71
yeah, pass on `...` to `readOGR`

`disambiguateFIDs` sounds good

Now that I think about it, maybe it makes more sense to name the fxn `geojson_sp()` as the output is an `sp` class, consistent with `geojson_list` outputting a list, and `geojson_json` outputting json. ?

I think it's probably worth it. There's probably some subset of people that don't want to have to worry about the details, and ju

[2015-11-14 19:04] ateucher commented on #71
Looks good to me! I agree about the naming - `geojson_sp` makes sense.

[2015-11-14 20:16] sckott commented on #71
:+1:

[2015-11-15 20:08] sckott commented on #69
@ateucher  Hmm, looks like CRAN still does not have mac binaries for `rgdal v1.1-1`, despite that version hitting CRAN two weeks ago.

I imagine if we require `rgdal v1.1-1`, people on mac will be sad.

Thoughts?

[2015-11-15 20:54] sckott commented on #71
@ateucher pushed up the new function. added some tests as well. anything we should change about it?

[2015-11-15 20:56] ateucher commented on #69
Oh that's a bugger. How long does it usually take?

[2015-11-15 21:05] sckott commented on #69
No idea. Sometimes it can definitely take a while. Whenever I email CRAN maintainers about this kind of thing I never get a response, but maybe could work

[2015-11-15 21:34] ateucher commented on #69
Yeah, it's a tricky spot for sure. You're ready to submit to CRAN eh?  What about waiting a few more days?  It would be a pity to not include the dependency and then have the rgdal binary go up right after you submit.  Personally I think it's a critical enough bugfix that the dependency is pretty important...

[2015-11-15 22:13] sckott commented on #69
Was hoping to submit soon to get this new rgdal version requirement to users, but would prefer if osx binaries were up. Let's wait a bit.

[2015-11-15 22:20] ateucher commented on #71
I think it looks great! I also really like the addition of the `geo_json` class.  I think that will make it safer in a lot of situations.

I also find I use the `p4s` argument in `readOGR` a fair bit due to the inconsitency with reading/writing CRSs. I don't think we need to expose it explicitly in `geojson_sp`, but maybe worth mentioning it in the docs?

I'll suggest some wording...

[2015-11-16 07:23] sckott commented on #71
Thanks for the PR

Yeah.  Made sense to change that class.  Hopefully will lead to less problems

[2015-11-16 16:07] ateucher commented on #71
:+1:

[2015-11-16 16:07] #71 closed

[2015-11-19 19:21] ateucher commented on #69
I wonder if it's worth a poke about those OSX binaries? Or submit this version to CRAN, then ask about the rgdal binaries? It's been over two weeks since 1.1-1 went up on CRAN...

PS. Congrats about the rOpensci funding! Huge news!

[2015-11-19 19:28] sckott commented on #69
I'll email about before we submit.

Thanks!

[2015-11-19 19:33] ateucher commented on #69
:+1:

[2015-11-21 00:11] sckott commented on #69
@ateucher looks like we haven't had up to date osx binaries for many versions of `rgdal` https://cran.rstudio.com/src/contrib/Archive/rgdal/ sadface, ill figure out who best to email

[2015-11-21 01:56] ateucher commented on #69
Ahhh, strange eh? According to Roger it's Simon Urbanek: https://mailman.stat.ethz.ch/pipermail/r-sig-geo/2015-November/023660.html

On Fri, Nov 20, 2015 at 4:11 PM, Scott Chamberlain
<notifications@github.com> wrote:

[2015-11-22 23:17] ateucher opened #73 "Javascrip Error with geojsonhint: Unexpected Identifier"
I'm getting a javascript error from geojsonhint when linting the `states` dataset converted to `json`:

[code]

It must be something to do with the way the object is passed into the `V8` environment. I've implemented a fix here: https://github.com/ateucher/geojsonio/commit/4a5fcec389f8f03ae22d8aca6902a2b58d69ac1c. I assigned the `geojson` object to a variable first with `ct$assign`, then run `geoj

[2015-11-22 23:18] ateucher commented on #73
Probably worth makings sure you get the same error I do first though...

[2015-11-23 00:48] sckott commented on #73
Thamks. Will take a look in a few hours

[2015-11-23 01:07] ateucher commented on #73
Great. No rush

[2015-11-23 06:03] sckott commented on #73
Yep, that change makes sense, PR then?

[2015-11-23 16:39] ateucher commented on #73
Sent!

[2015-11-23 16:45] sckott commented on #73
closed in #74

[2015-11-23 16:45] #73 closed

[2015-11-25 19:35] ateucher commented on #69
Continuing from [here]()

It's true... though if they use `rgdal` older than v1.1-1 and try to convert `SpatialPolygons`/`SpatialPolygonsDataFrame` with multipart geometries to geojson, it won't work properly.

What if we didn't require a version, but somewhere in the NEWS/README/DESCRIPTION say that rgdal v1.1-1 or greater is recommended?

[2015-11-25 19:37] sckott commented on #69
Yeah, that's probably best to just put in documentation for now, and maybe a `message()` (though maybe that's too annoying

[2015-11-25 19:40] ateucher commented on #69
What about in a `packageStartupMessage`?

[2015-11-25 19:58] sckott commented on #69
i usually don't use them, but this seems like a good use case

[2015-12-21 23:08] sckott opened #75 "map_gist down due to problem in gistr i think"

[2015-12-21 23:23] sckott commented on #75
related to ropensci/gistr#63

[2015-12-22 21:33] sckott commented on #75
sorted, pushing gistr to cran now

[2015-12-22 21:33] #75 closed

[2016-01-07 00:29] sckott commented on #66
sorted now

[2016-01-07 00:29] #66 closed

[2016-01-07 05:04] sckott opened #76 "Bug in spdftogeolist internal fxn"
not parsing some data correctly

[2016-01-07 17:11] ateucher commented on #76
@sckott Do you have a readily-available example?

[2016-01-07 17:16] sckott commented on #76
can get some

[2016-01-07 17:24] ateucher commented on #76
If you're already on it, it's not critical... mostly just curious as I
don't know if I'll have time to help in the next few days anyway...

On Thu, Jan 7, 2016 at 9:16 AM, Scott Chamberlain <notifications@github.com>
wrote:

[2016-01-07 18:14] sckott commented on #76
`spdftogeolist()` is only used in `as.json()` - and so that fxn is affected, but only for the methods for `geojson` and `character` (`as.json.geojson`, `as.json.character`)

[2016-01-14 23:55] #76 closed

[2016-01-15 00:01] sckott commented on #69
sorted for now, using a startup message of the form:

rgdal::writeOGR in previous versions didn't write
multipolygon objects to geojson correctly.
See https://stat.ethz.ch/pipermail/r-sig-geo/2015-October/023609.html

[2016-01-15 00:01] sckott commented on #69
going to push to cran soon

[2016-01-15 00:01] #69 closed

[2016-02-09 20:50] fxi commented on #61
For future reference :
A small tool to convert postgis query to geojson (/topojson)  in python.
https://gist.github.com/jczaplew/7680118
I did not tried it.

[2016-02-09 21:22] sckott commented on #61
thanks, looks useful

[2016-02-16 19:03] ateucher opened #77 "Avoid round trip to disk in geojson_rw?"
There may be a way to avoid the round trip to disk in `geojson_rw` for converting `Spatial` objects to `geojson`, but I haven't quite been able to make it work.

The key: you can write to `stdout` with `rgdal::writeOGR`:

[code]

But I can't figure out a way to capture the output. I've tried various combinations of `sink()`, `textConnection()`, and `capture.output()` but it's eluded me so far...

[2016-02-16 19:11] sckott commented on #77
Good thinking. I'll have look too. Would be nice to avoid that extra time.

[2016-02-16 19:13] ateucher commented on #77
Yeah, it's a killer on really big spatial objects.

[2016-02-16 22:52] sckott commented on #77
tried a bit, still not found a way to do it. asking around

[2016-02-17 23:04] sckott commented on #77
@hrbrmstr any thoughts on this one?  how to collect the output of `writeOGR()` into a character string in the R session, instead of having to collect it from disk

[2016-02-18 03:54] hrbrmstr commented on #77
ooh. i think so. i'm pretty flat-out tomorrow (it's one of my 2x/wk commute to boston from Maine day) but lemme see how awake I am (just got done teaching my first college 2.5hr #rstats class and am fading fast :-) But I have an idea (and I've also started a side-write of `spatula`, a hadley-esque revamp of rgdal+regos). So I think I may have an interim solution now-ish and a replacement in a cpl

[2016-02-18 07:43] sckott commented on #77
thanks

hugh, interesting, curious how https://github.com/thk686/rgdal2 fits in the mix

[2016-02-18 11:20] hrbrmstr commented on #77
oh wow. i had no idea he was doing that! I shall Use the Fork and see what
he's done.

On Thu, Feb 18, 2016 at 2:43 AM, Scott Chamberlain <notifications@github.com

[2016-02-18 12:49] hrbrmstr commented on #77
um…what I'll post in a cpl hrs is, um…er…_ugly_. I might need assistance in making it cross platform and for getting other ideas. Perhaps even bringing Dirk into the convo.

[2016-02-18 14:44] sckott commented on #77
`spatula` is a good name - and i would love love love a better rgdal

[2016-02-18 14:55] hrbrmstr commented on #77
So, save the following block to `captured_write_ogr`:

    #include <Rcpp.h>
    #include <stdio.h>
    #include <stdlib.h>
    #include <unistd.h>

    using namespace Rcpp;

    //' An \code{writeOGR} shim to capture stdout
    //'
    //' @param obj the \code{Spatial} object to use
    //' @param obj_size pls pass in \code{object.size(obj)}
    //' @param layer spatial layer to use
    //' @par

[2016-02-18 15:01] hrbrmstr commented on #77
microbenchmark(js1=capturedWriteOGR(cities[1:10,], object.size(cities[1:10,]),
                   "cities", writeOGR))

    ## Unit: milliseconds
    ##  expr      min       lq     mean   median       uq      max neval
    ##   js1 1.862113 1.927723 2.118487 2.052322 2.112831 5.625623   100

[2016-02-18 15:07] hrbrmstr commented on #77
I'm really not convinced `int MAX_LEN = obj_size * 10` is truly necessary. In the example I provided,

    object.size(capturedWriteOGR(cities[1:10,], object.size(cities[1:10,]), "cities", writeOGR))
    ## 51768 bytes

and

    object.size(capturedWriteOGR(cities[1:10,], object.size(cities[1:10,]), "cities", writeOGR))
    ## 2464 bytes

so it's substantially _less_. I suspect that'll be the case

[2016-02-18 15:22] sckott commented on #77
works great! thanks so much. indeed, cross-platform is important.

In your `object.size()` egs above, they are the same calls, did you intend to use different code with one of them?

[2016-02-18 15:25] hrbrmstr commented on #77
ugh. yeah (i'll fix)

On Thu, Feb 18, 2016 at 10:22 AM, Scott Chamberlain <
notifications@github.com> wrote:

[2016-02-18 17:14] ateucher commented on #77
Thanks so much for your help on this @hrbrmstr! I am on Windows here at work, I've given it a try. When I try to `Rcpp::sourceCpp("captured_write_ogr.cpp")`, I get the following warnings/error:

[code]

It clearly doesn't recognize the `pipe` function...

[2016-02-18 17:17] ateucher commented on #77
As for the the `/vsistdout/`, the gdal geojson driver also supports writing to `/dev/stdout` (http://www.gdal.org/drv_geojson.html). Would that make things easier?

[2016-02-18 17:19] hrbrmstr commented on #77
thx, @ateucher. I've got a Windows VM back at the ranch (Tue & Thu are my commute days to Boston) I can debug it later (though I do import `<unistd.h>` so I'm not sure what's going on…I do have some Windows porting knowledge, I just try not to let on that I do :-)

I tried it with `/dev/stdout` and it still does evil things under the covers that prevent being able to work with  it nicely, sadly.

[2016-02-18 17:24] ateucher commented on #77
Thanks @hrbrmstr! I'm afraid my C++ knowledge is zero, but I'll see if I can track this down on my side too.

[2016-02-18 17:54] sckott commented on #77
@jeroenooms thoughts on the windows problem above https://github.com/ropensci/geojsonio/issues/77#issuecomment-185819953

[2016-02-18 18:40] sckott commented on #77
started incorporating on this branch https://github.com/ropensci/geojsonio/tree/geojsonrw-fix just to see how it all works - haven't incorporated into the `geojsonio` functions yet

there is a problem on check though:

[code]

Some discussion on it here http://stackoverflow.com/questions/28004717/r-check-doesnt-like-stdcout-c

[2016-02-18 23:12] ateucher commented on #77
I sent you a PR on that branch with a Windows hack. I'm sure @hrbrmstr will have a better solution, but I wanted to give it a try :)

[2016-02-18 23:50] hrbrmstr commented on #77
those are perfect Windows augmentations, @ateucher. I'm not worried abt that error msg. I can give verbiage for a CRAN submission with that there. I've not exhausted all other possibilities yet, tho. Since we're assuming `gdal` is on systems anyway, I cld just write something that taps directly into the C/C++ `gdal` lib and try to overcome this a different way.

I say "just" a bit too lightly ther

[2016-02-19 00:02] sckott commented on #77
thanks @ateucher

using `capturedWriteOGR()` wasn't working too well unless I was in `load_all()` context. made a tiny exported fxn to use it

[code]

[2016-03-09 19:27] sckott opened #79 "new travis setup, maybe use addons"
e.g,  for the v8 dep

[code]

[2016-03-10 03:17] sckott commented on #79
after merging in changes on `geojsonrw-fix` branch

[2016-04-05 18:22] sckott opened #80 "pull out linters into new pkg"
modularize all the things

[2016-04-05 20:39] ateucher commented on #80
Hey @sckott, I met @richfitz at UBC yesterday, and we chatted briefly about his very cool [jsonvalidate](https://github.com/ropenscilabs/jsonvalidate) package. I also found what looks to be a [complete geojson schema](https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/geojson.json) here: <https://github.com/SchemaStore/schemastore>.

What do you think about using that for vali

[2016-04-05 20:40] ateucher commented on #80
We'd probably want to test that schema quite a bit more though...

[2016-04-05 22:58] sckott commented on #80
at https://github.com/ropenscilabs/geojsonlint

[2016-04-05 23:01] sckott commented on #80
@ateucher good idea, wonder why geojsonhint is so slow, wonder if there's a accuracy/speed tradeoff  - want to incorporate into the new pkg

[2016-04-06 00:58] ateucher commented on #80
is-my-json-valid purports to be the [fastest json validator](https://github.com/mafintosh/is-my-json-valid#performance)...

Yep, I'll work on it!

[2016-04-07 20:16] Robinlovelace opened #81 "geojson_write does not overwrite existing files but says it does"
I was surprised to see that when updating the dataset for my work that nothing changed in the git diff after using `geojson_write()` to push new data for a project, despite being told the function succeeded.

Further investigation suggests this is bug with the function. Reproducible example:

[code]

One would expect `FALSE`, as the function said the new data was written:

[code]

However to my su

[2016-04-07 20:18] sckott commented on #81
Thanks for the report!  will fix

[2016-04-07 20:24] sckott commented on #81
I imagine `overwrite = TRUE` as the default is best - given that I'd assume that if I wrote a 2nd object to the same file name that it would replace it

[2016-04-07 20:25] Robinlovelace commented on #81
Agreed, especially if it reports `Success!`

[2016-04-07 21:12] sckott commented on #81
@Robinlovelace okay, reinstall `devtools::install_github("ropensci/geojsonio")` and try again, new param `overwrite`

[2016-04-07 21:16] sckott commented on #81
let me know if you think you like this behavior: when the file is present, and `overwrite=FALSE`, there's a stop message, but any other combo and proceeds as before

[2016-04-07 21:22] Robinlovelace commented on #81
That works now, thanks for the fast fix. Suggest getting this one onto CRAN soon as others could be making the same mistake I did. Agile!

[2016-04-07 21:23] #81 closed

[2016-04-07 21:24] sckott commented on #81
great, pretty soon, yes

[2016-04-07 21:57] sckott commented on #36
any thoughts @hansthompson

[2016-04-07 22:05] sckott commented on #80
closing, new pkg started, will open a new issue to use the new pkg once on CRAN

[2016-04-07 22:05] #80 closed

[2016-04-07 22:06] sckott opened #82 "Deprecate linting functions - and use geojsonlint"
from #80

[2016-04-07 22:25] sckott commented on #59
I dont think this is a problem

[2016-04-07 22:25] #59 closed

[2016-04-07 22:50] ateucher commented on #36
IMHO, I don't think it's necessary to be able to combine different classes. I don't think it's too much to ask of a user to make the objects that they want to combine of the same class...

[2016-04-07 22:53] sckott commented on #36
yeah, prob. right. - if so, we can close then I think

[2016-04-07 22:58] ateucher commented on #36
If I were a new user of the package, I doubt it would cross my mind that it *should* be possible.

[2016-04-07 22:58] sckott commented on #36
right, closing

[2016-04-07 22:58] #36 closed

[2016-04-07 23:05] sckott commented on #77
@ateucher @hrbrmstr added a `layer_options` param to the `capturedWriteOGR` function - as we want to allow users to pass options to the geojson driver.

using it now in `geojson_write` - works fine with inputs of small size - however, seems to hang and/or crash with inputs of any non-small size - not sure what could be the problem

[2016-04-07 23:51] hrbrmstr commented on #77
oh. wow. i need to get back to this. :-)

On Thu, Apr 7, 2016 at 7:05 PM, Scott Chamberlain <notifications@github.com>
wrote:

[2016-04-11 12:04] kshll6 commented on #65
I had some sort of a similar problem. I tried installing 'geojsonio' for R on ubuntu, and it said I needed to install 'ibv8-3.14-dev' or 'libv8-dev'. Howeverm, when I install either of the two, I get the following error message:
"Warning in install.packages : package ‘libv8-dev’ is not available (for R version 3.2.2)"

Does anyone have a solution for this?

[2016-04-11 17:26] ateucher commented on #65
@kshll6 `libv8` is a system dependency for the `V8` R package, which `geojsonio` depends on.  You'll need to install `libv8` on your system by running `sudo apt-get install libv8-dev` in your terminal.

[2016-04-14 11:22] patperu opened #83 "'file_to_geojson' - error when reading from 'special' url"
Hello @sckott,

I want to convert a shpfile (as zip) to geojson, the input comes from an url.

[code]

But the generated geojson is not valid, it contains this:

[code]

If I use the same file from a different location, everything looks good (well, not really.. but this will be another issue :wink: )

[code]

Ciao
Patrick

[2016-04-14 16:01] sckott commented on #83
thanks for the issue @patperu - will have a look

[2016-04-14 16:13] sckott commented on #83
what version of `geojsonio` do you have

[2016-04-14 16:26] patperu commented on #83
Hello @sckott ,
upps, sorry for missing this info..
I'm using geojsonio 0.1.8 (ropensci/geojsonio@708f11e)

BTW, I'm going to open another issue (not connected) in a few minutes, so maybe you want to wait.

[2016-04-14 16:29] sckott commented on #83
I've not seen the error `invalid distance too far back` - it doesn't look like an error that happens in `geojsonio`

[2016-04-14 16:43] patperu opened #84 "Read file with 'geojson_read' - error when plotting"
Hello @sckott

I try to plot a map, which I imported via `geojson_read` but I receive an error

[code]

Using the same geojson with `readOGR` it works

[code]

Thank you very much for all your great work!
Patrick

[2016-04-14 16:57] patperu commented on #83
Hmm, ok.
I  found this
- https://github.com/ymnk/jzlib/issues/14
- http://stackoverflow.com/questions/34396566/error-invalid-distance-too-far-back-when-inflate-html-gzip-content
Seems more a zlib issue. Will try it tomorrow on another (windows) machine.

Ciao
Patrick

[2016-04-14 17:10] sckott commented on #83
yeah, that makes sense that it's a problem with reading from the url

Have you tried using `method="local"` ?

[2016-04-14 17:14] sckott commented on #84
easy peasy

[code]

![screen shot 2016-04-14 at 10 14 30 am](https://cloud.githubusercontent.com/assets/577668/14536938/b9d0fa6c-0229-11e6-8984-e8a05e18fdf3.png)

[2016-04-14 17:15] sckott commented on #84
the default that comes back is a list, so say you want an sp object (that is, a spatial object)

[2016-04-14 17:27] patperu commented on #84
Arrg! Rock solid software :rocket: - I should read the helpfiles!

Thanks a lot!
Patrick

[2016-04-14 17:35] #84 closed

[2016-04-17 14:19] patperu commented on #83
Hello @sckott ,
couldn't try it on another windows machine, hopefully tomorrow. With Ubuntu it works without a problem for both methods `local` and `web`.
Ciao
Patrick

[2016-04-17 15:13] sckott commented on #83
thanks for update

[2016-05-03 16:48] sckott commented on #77
@hrbrmstr any chance you can take a look at this again?  i can alternatively pull in Jeroen

[2016-05-03 16:55] hrbrmstr commented on #77
aye. back to 100% health and virtually caught up at work.

On Tue, May 3, 2016 at 12:48 PM, Scott Chamberlain <notifications@github.com

[2016-06-03 06:13] javrucebo opened #85 "Performance geojson_json(sp) - transformation loop sp -> JSON -> R -> JSON"
I am wondering why in `geojson_json(sp)` we have following transformations:

- Transform `sp` object to `geojson` on disk through `geojson_write`
- Transform to `R` object through `jsonlite::fromJSON`
- Convert back to JSON through `to_json`

I do not see a difference in the resulting JSON's from step 1 and 3 apart from number of digits, but that might be different for more complex SpatialObjects?

[2016-06-03 17:27] sckott commented on #85
There are two issues:

*  to convert to geojson we use `rgdal` which right now has to write to disk, then we read back in, so that introduces some slowness - we are working on fixing this though, see https://github.com/ropensci/geojsonio/issues/77
* right, for `geojson_json` we don't need to to `fromJSON`, then `toJSON`, we should probably just read the lines in, and paste together, possibly valid

[2016-06-03 22:44] sckott commented on #85
can try again `geojson_json` after installing `devtools::install_github("ropensci/geojsonio@json-io")` - sped up the fxn

#77 will still take some time though

[2016-06-03 22:46] sckott commented on #85
also, @ateucher - might want to try new `geojson_json` on that branch

[2016-06-03 22:52] ateucher commented on #85
Damn you work fast @sckott. I'll have a look for sure!

[2016-06-04 03:38] javrucebo commented on #85
@sckott: Great, while I was still benchmarking, you provide a ready-to-use fix.

Here high-level benchmarking of your version for a relatively small geometry:
[code]

Back to current version of `geojsonio`: To illustrate the time spent, I have benchmarked the individual main steps, which shows that a BIG amount of total time is spent in `fromJSON`/`toJSON`

[code]

Finally benchmarking your `readb

[2016-06-04 04:23] javrucebo commented on #77
With the main bottleneck of `geojson_json` addressed  in #85, I was also benchmarking the Disk-IO overhead of `rgdal::writeOGR` discussed in the issue here.

Although I do appreciate every effort in speeding up code, I do not really see the big bottleneck with the round-trip to disk on my system. In following benchmarks I tried to avoid the influence of disk-caches by flushing and also write/read

[2016-06-04 20:40] sckott commented on #83
@patperu did you get this sorted out?

[2016-06-04 20:41] sckott commented on #85
Thanks for the detailed benchmarks @javrucebo - I'll try implementing `readChar` instead of `readLines`

[2016-06-04 20:43] sckott commented on #77
Thanks for the detailed notes here @javrucebo - We'll definitely try avoiding writing to disk with `writeOGR`, and if no speed up, then not really worth including

[2016-06-05 11:03] patperu commented on #83
Hello @sckott
the reason is `download_file` in `handle_remote` - under windows (two different machines)
[code]
`WIFI_COPERTURA.zip` is not a valid zip-file.

But this works:
[code]

[2016-06-06 04:49] ateucher commented on #85
I see a similar ~10x speedup on a large SpatialPolygonsDataFrame (19MB, 48 features) in json-io branch. ~12 seconds vs ~130 seconds w/ geojson_json. Small difference in readLines vs readChar, but I also tested with `readr::read_file` and the difference was significant. Is it worth adding another dependency @sckott ?

[code]

    ## Unit: seconds
    ##                   expr       min        lq

[2016-06-06 06:20] ateucher commented on #85
And tested in context:

[code]

    ## Unit: seconds
    ##                                            expr      min       lq     mean
    ##        geojson_rw_test(input, fun = readbyline) 38.76973 39.98385 42.90223
    ##        geojson_rw_test(input, fun = readbychar) 34.11568 35.22848 36.35212
    ##  geojson_rw_test(input, fun = readr::read_file) 25.69207 26.11113 26.53101
    ##    median

[2016-06-06 18:31] sckott commented on #83
thanks @patperu I'll have a look

[2016-06-06 18:42] sckott commented on #85
@ateucher thanks for the benchmarks.

possibly. we already have some heavy deps, but if it is that much faster, perhaps we should think about it

[2016-06-06 20:19] sckott commented on #85
@javrucebo @ateucher `json-io` branch now uses `readr::read_file` instead of `readLines` or `readChar`

let me know if you have any further thoughts

[2016-06-06 20:41] sckott opened #86 "brief output for geojson_json"
These functions can return very verbose output.

Thinking about print methods for each that only give very brief output and calculate some summary information to print as well if possible

[2016-06-06 21:01] ateucher commented on #86
Great idea! Include: geometry type, crs, bounding box, number of features, field names (and types)... `head` of data?

[2016-06-06 21:07] ateucher commented on #85
A thought - though possible too convoluted. Could include `readr` in suggests, and have a function:

[code]

Then just include a note in the documentation that this function will be faster if you have `readr` installed...  No extra overhead for the user unless they need it.

[2016-06-06 21:32] sckott commented on #85
@javrucebo does andy's suggestion above sound good to you?

[2016-06-06 21:45] sckott commented on #83
@patperu try reinstalling `devtools::install_github("ropensci/geojsonio")`

i tested on my windows VM, try it on your windows machine. I think it should work now. let me know

[2016-06-06 21:46] sckott commented on #86
cool . - I think it makes sense to follow what we'll do for the geojson package https://github.com/ropenscilabs/geojson

[2016-06-06 21:50] javrucebo commented on #85
Andy's suggestion will certainly work, nevertheless I would favour to have a hard dependency. Many (if not most) R users I know personally would not read the "Suggests" section and then manually install an additional package for an - for them unknown - performance gain. But having dependencies automatically installed is something they know, and the `readr` package is a much lighter package than so

[2016-06-06 21:52] ateucher commented on #86
Oh nice. So what's the relationship there... is the intent to have this (and all other geojson-focussed packages such as `lawn`) depend on `geojson` package for the classes?

[2016-06-06 21:56] ateucher commented on #85
I agree with @javrucebo - it's probably worth having `readr` as a dependency... I just thought I'd throw it out there, but i't probably unnecessarily complicated.

[2016-06-06 22:29] sckott commented on #86
`geojson` is like `sp`, with classes for all geojson data types, and some very minimal manipulation tools __sans__ depending on `sp`/`rgdal`/etc.

and https://github.com/ropenscilabs/geoops for trying to have equiv. to `rgdal`/`rgeos`  (a subset of their operations at least), but only using `jqr` if possible

For `geojsonio` though, i just meant follow what we'll use for `geojson` for a print meth

[2016-06-06 22:34] javrucebo commented on #85
When you use `readr::read_file` you should change
[code]
to
[code]
otherwise, `read_file` will use for reading anything which is set in option `readr.default_locale`.

As your geojson files will end up to be UTF-8 (or ASCII) in the case a user sets above option to an incompatible encoding you end up with messed up characters:
[code]

[2016-06-06 23:28] ateucher commented on #86
Ok, that's what I figured...

[2016-06-06 23:57] ateucher commented on #85
What about including an `encoding` argument in `geojson_json`, with the default being `"UTF-8"`?

[code]

and then internatlly use:

[code]

Will there every be a need for a user to change it, or is that silly?

[2016-06-07 00:08] sckott commented on #85
Good point about encoding. I imagine we do want to allow the user to set encoding.

[2016-06-07 05:54] javrucebo commented on #85
No, we do not want the user to choose encoding of a JSON file, UTF is required (and we might not want to go down the route of allowing UTF-16/UTF-32 which might create more headaches if you play it through)

 https://tools.ietf.org/html/rfc7159#section-8.1

But encodings can create headaches already now. `jsonlite::toJSON` seems to do the job right:

[code]

But if we let `rgdal` write a `geojson`

[2016-06-07 06:15] javrucebo commented on #85
One can give an encoding argument to `writeOGR` if you know how your `sp` object is encoded:
[code]
But this does not really help, as you can have mixed encodings (in which case writeOGR fails)

In a nutshell, I would not bother with this in `geojsonio`. Assume `writeOGR` does everything correct and writes valid UTF-8 and then make sure to read it in with `locale()`, which is set to UTF-8.
For abo

[2016-06-07 18:55] sckott commented on #85
okay, so `readr::read_file(x, locale=locale())` is the plan

[2016-06-07 23:57] sckott commented on #85
okay, pushed the change, closing this, reopen if you think needs more work

[2016-06-07 23:57] #85 closed

[2016-06-08 04:56] patperu commented on #83
Hi @sckott, looks good! I'm using the latest version (4d0f8cc17b) and it works now.
Thank you!
Patrick :wave:

[2016-06-08 04:59] sckott commented on #83
great, glad it works

[2016-06-08 04:59] #83 closed

[2016-06-09 21:39] ateucher commented on #85
Hey @javrucebo - just wanted to say thanks for catching this! It's made a really big difference when working with large objects :+1:

[2016-06-13 07:38] javrucebo commented on #41
With a good part of the performance bottleneck of geojson_json removed in #85 and the discussion about disk round-trip in #77 the question is indeed if further speed improvements can be made by not using `writeOGR`.

For *well-defined* objects serialization is not too hard, so I drafted a function to do it for `SpatialPolygons(DataFrame)`, which is a fairly straightforward format. It uses `Rcpp` a

[2016-06-14 17:08] sckott commented on #41
Thanks very much for this @javrucebo

Have you tested the function with lots of different spatialpolygon inputs? Curious how well it works with diverse inputs of SpatialPolygon type

[2016-06-14 17:56] ateucher commented on #41
This is awesome, but I have the same concern. `rgdal` (and especially `gdal` on which it's based) are really well established and have taken into account most corner cases one can run into...

[2016-06-14 18:16] sckott commented on #41
@jeroenooms and I talked about possibility of simply converting the S4 spatial objects like `SpatialPolygons` to json via `jsonlite` and doing any manipulations on the object to make a proper geojson object - We havent tried it yet, but could be worth trying

[2016-06-14 19:40] javrucebo commented on #41
Regarding first question of @sckott: Yes I did try it with many different inputs.
* First of all a big number of GADM input, as you get there all sorts of combinations with holes, thousands of islands etc + encoding in many different languages.
* Couple of downloads from naturalearth, some pre-packaged Polygons (e.g. from `rworldmap` and `tmap`)
Result:
Most differences between the output from `rg

[2016-06-14 19:47] jeroenooms commented on #41
I think a package to convert between `sp` classes and `geojson` strings will be relatively straightforward to implement with `jsonlite`, and will likely be just as fast as going via `rgdal`.

[2016-06-14 22:14] ateucher commented on #41
Another thing to think about is [sfr](https://github.com/edzer/sfr), where they are implementing spatial classes using simple features specification, and presumably thinking about conversions between old `sp` classes, the new spatial R classes, and other spatial formats.

[2016-06-15 02:29] sckott commented on #41
@ateucher AFAICT though (correct me if I'm wrong) `sfr` will still depend on GDAL - which is the source of pain we're trying to avoid  - did that project get funding? can't tell if it did

I realize there's a tradeoff here between well tested libraries like GDAL and painless setup/installation for users. For me personally, I'd like to have a solution that is robust and covers nearly all cases, but

[2016-06-15 05:37] ateucher commented on #41
Yup, it was funded - see second last item [here](https://www.r-consortium.org/funded-projects). I do think it will depend on GDAL. I just know that rgdal goes through some machinations for conversion, because the current `sp` classes don't follow the simple features spec - specifically with respect to polygons holes.

It probably does make sense to make a lightweight package for the particular tas

[2016-06-15 21:00] sckott commented on #41
I think simplicity is the main reason. And the work done in jsonlite is C based, so its fast. BUT, if we can't do with just jsonlite and pure R manipulations, then makes sense to drop down to C

[2016-06-16 00:46] ateucher commented on #41
Makes sense to me

[2016-07-01 23:32] sckott commented on #82
not quite sorted yet...

[2016-07-01 23:36] sckott commented on #82
more changes:

* deprecate `validate()` - tell users to use `lint()`
* `lint()` changes:
    * add parameter `method` to choose one of `geojsonlint::geojson_hint`, `geojsonlint::geojson_lint`, or `geojsonlint::geojson_validate`
    * add `verbose` and `error` params

[2016-07-02 21:13] sckott commented on #82
Actually, maybe we should just remove all linting functions (`lint()` and `validate()`) in this package, and tell users to go use  `geojsonlint` - Does that sound good @ateucher ?

If so, we can deprecate both those functions now for this next version `v0.2` https://github.com/ropensci/geojsonio/milestones/v0.2 that I'm hoping to push to cran soon, then make them defunct in the following version.

[2016-07-05 22:07] ateucher commented on #82
I think that makes sense. +1

[2016-07-11 16:04] sckott commented on #82
Okay, will do

[2016-07-13 00:52] #82 closed

[2016-07-17 03:50] lecy opened #91 "Error when reading sp files from GitHub"
I am getting an error when trying to read .geojson files from GitHub.

For example, from the examples in the package:

[code]

Any ideas?

[2016-07-17 05:40] sckott commented on #91
thanks for the report @lecy  What version of R, `geojsonio` and `gdal` do you have?

[2016-07-17 08:17] patperu commented on #91
Hello Scott,
I am getting the same error

[code]

[2016-07-17 13:57] lecy commented on #91
Thanks for the quick response. Here are my specs:

[code]

[2016-07-17 14:50] sckott commented on #91
what does `curl::curl_version()` give you both?

[2016-07-17 14:52] lecy commented on #91
[code]

[2016-07-17 14:58] patperu commented on #91
Same here:

[code]

[2016-07-17 15:06] sckott commented on #91
thanks

@ateucher Do you use a windows machine? If so, curious if this works for you

[2016-07-17 15:30] ateucher commented on #91
I do at work.  I'll check it out tomorrow.

[2016-07-17 15:51] lecy commented on #91
I can download it from GitHub and then read it from a local file, but I am getting a separate error: "cannot coerce type 'S4' to vector of type 'double'"

[code]

[2016-07-18 17:31] ateucher commented on #91
It seems that `rgdal::readOGR` (also `ogrListLayers` and `ogrInfo`) won't read from a url on windows.

[code]

@sckott it looks like you've run into this [before](http://stackoverflow.com/questions/34361530/rgdal-failing-on-windows-with-a-url-specifying-geojson).

We could implement a workaround where it downloads to a tempfile first if `.Platform$OS.type == "windows"` (or always download first -

[2016-07-18 17:36] sckott commented on #91
@ateucher haha, right, forgot about that SO question.

Yeah, let's just download to a tempfile, then load in, and cleanup the tempfile

Anyone want to do that?

[2016-07-18 17:43] ateucher commented on #91
Is there an elegant way to determine if a string is a url, other than something like `grepl('^(http|ftp)', x)`

[2016-07-18 17:44] lecy commented on #91
http://www.inside-r.org/packages/cran/sorvi/docs/is.url

[2016-07-18 17:46] lecy commented on #91
Here is the code:

[code]

From: https://github.com/trinker/reports/blob/master/R/is.url.R

[2016-07-21 19:07] sckott commented on #91
@lecy we merged a PR from @ateucher - Can you try it again after reinstalling from github

[2016-07-21 21:35] lecy commented on #91
It works!

One more question - any idea why this geojson file is so mangled on the map in the GitHub repository?

https://github.com/lecy/geojson/blob/master/myfile.geojson

It should be a few square blocks of downtown Syracuse:

[code]

![image](https://cloud.githubusercontent.com/assets/1209099/17039610/54f19f88-4f69-11e6-9569-d7ea47bd0954.png)

![image](https://cloud.githubusercontent.com/asset

[2016-07-21 22:05] sckott commented on #91
Weird, I don't know off the top, here's info on geojson on github https://help.github.com/articles/mapping-geojson-files-on-github/ - perhaps `FeatureCollection` type isn't supported?

[2016-07-21 22:10] ateucher commented on #91
My guess is that it is in the wrong projection. GitHub uses leaflet maps, which requires you layer to be in Web Mercator (EPSG:3857 or EPSG:4326).

[2016-07-21 22:12] ateucher commented on #91
It looks like your coordinates are in metres, while leaflet likes lat/long...

[2016-07-21 22:13] sckott commented on #91
good catch, missed that!

[2016-07-22 18:12] lecy commented on #91
Great - it's working now! Thanks for the speedy help.

[2016-07-22 19:58] #91 closed

[2016-08-31 13:33] paternogbc commented on #65
Thanks a lot @ateucher!

[2016-09-22 15:11] bhaskarvk opened #93 "Ability to read files with non-standard extensions."
Some geojson data on the web has the regular '.json' extension , these can't currently be read from geojson_read as they don't have a .geojson' extension.
Similarly for URLs there are at times request parameters, so the URL doesn't always end in the expected file extension. e.g.

http://add.antarctica.ac.uk/repository/entry/get/Seamask_medium_res_polygon.kml?entryid=synth%3Af477219b-9121-44d6-afa6

[2016-09-22 15:12] bhaskarvk opened #94 "methods argument in geojson_read"
It's not exactly clear what the methods argument of the geojson_read call does.
the examples show reading a url with method='local', which is really confusing, and makes one wonder what is method='web' for ?

[2016-09-22 16:23] #94 closed

[2016-09-22 16:24] sckott commented on #94
thanks - improved the docs, let me know if it's still not clear

[2016-09-22 17:51] sckott commented on #93
right, `.json` extensions should work, and working on fixing urls that don't have extension on end

[2016-09-23 20:05] bhaskarvk commented on #93
FWIW it was giving me errors reading geojsons with .json extensions which went away after renaming the file to .geojson.

[2016-09-23 21:47] sckott commented on #93
That link above is dead now. Do you have other egs like that?

[2016-09-23 21:50] sckott commented on #93
made some changes. reinstall from github, and try again. `.json` should work now, and URLs where extension is not at end should work now (though if there's no extension at all in the URL, we may not be able to handle it since we'd have to then guess what kind of file it is)

[2016-09-25 22:32] bhaskarvk commented on #93
Still not working w/ latest commit.

[code]

The file came from https://github.com/johan/world.geo.json/

[2016-09-25 22:55] sckott commented on #93
sorry, didn't fix the route where `what = 'sp'`, should work now. Will make this more general with `mime` pkg probably in addition to guessing file type from ext.

[2016-10-03 10:09] espinielli commented on #41
GDAL TravisCI pain is resolved by @edzer in the [`sf`](https://github.com/edzer/sfr) package, see its [`.travis.yml`](https://github.com/edzer/sfr/blob/master/.travis.yml).

I got inspired by the above myself for a bookdown [experiment](https://github.com/espinielli/prr-web) where I need to read Shapefiles/Topojson/...and it works...of course the whole build time has gone from ~4min to ~20min.

An

[2016-10-03 17:44] yihui commented on #41
@espinielli You should cache the `_bookdown_files` directory instead of `_book`, because knitr's cache is stored under `_bookdown_files`.

[2016-10-03 17:52] sckott commented on #41
`rgdal` is still a pain, even if easier to install on Travis, I still want to avoid it if possible (assuming equally fast replacement code)

[2016-10-03 19:49] edzer commented on #41
The pain is IMO not with (r)gdal, but with travis: it doesn't let you add the ubuntugis-unstable repo, which has gdal 2.1 compiled.

[2016-10-03 22:55] sckott commented on #41
@edzer that would be nice if travis would allow that

[2016-10-04 05:46] espinielli commented on #41
maybe [Travis's Trusty](https://docs.travis-ci.com/user/trusty-ci-environment/) can be of some help...

@yihui thanks...I think I got it from other bookdown examples/repos, I'll check and feedback...still learning (BTW super great work)

[2016-10-05 12:55] edzer commented on #41
[Here](https://github.com/edzer/sp/blob/master/.travis.yml) is a trusty travis file that uses gdal-dev binaries; it is at version 1.10, which is enough for rgdal and rgeos to compile. For sfr 1.10 is currently not enough, but if travis waiting time is your only problem, this might solve it.

As explained [here](https://github.com/edzer/sfr/blob/master/PROPOSAL.md), the sp classes do not map 1:1 to

[2016-11-18 15:55] ateucher opened #96 "Number of digits"
Currently [`to_json`](https://github.com/ropensci/geojsonio/blob/master/R/zzz.r#L4) includes 22 digits. The [GDAL default](https://github.com/ropensci/geojsonio/blob/master/R/zzz.r#L4) is 7.

22 seems excessive to me. Should we reduce it? should it be controllable by an additional argument?

`write_geojson` methods for `sp` objects currently allows specification of digits via the `precision` argum

[2016-11-18 17:29] sckott commented on #96
Agree to reduce it - I looked over the new GeoJSON spec, and it seems like 6 is a good number, or 7 for this package, not too different.

[2016-11-18 17:34] ateucher commented on #96
Great. How about 7, to be consistent with `geojsonio::write_json` which uses `rgdal::writeOGR` (so presumably uses GDAL's default 7)?

[2016-11-18 17:35] sckott commented on #96
7 sounds good.

[2016-11-18 18:05] #96 closed

[2016-11-18 18:09] sckott commented on #93
assuming this is sorted

[2016-11-18 18:09] #93 closed

[2016-11-19 18:53] kuanb opened #97 "Assistance/further clarification on install of rgdal on Mac OS."
[code]

Throws
[code]

I'm a bit out of my comfort zone here. If there's an obvious error I am making, I am all ears!

[2016-11-19 19:01] kuanb commented on #97
Just realized that was intended for R, not command line. My bad.

[2016-11-19 19:01] #97 closed

[2016-11-20 00:43] sckott commented on #97
@kuanb you can run from the CLI via `Rscript` like e.g., `Rscript -e 'install.packages("rgdal", ...)'`

[2016-12-07 17:49] jeancabouat opened #98 "geojson_read - Cannot open data source"
Hi,
I have the following error and can't find why, any ideas ?
Thks
Jean

[code]

[2016-12-07 17:54] sckott commented on #98
Can you share the file? I can't reproduce the problem without the file, or if it's too big or private, share another that gives the same problem for you.

[2016-12-07 17:57] jeancabouat commented on #98
The file is available on:

https://s3.amazonaws.com/metro-extracts.mapzen.com/new-york_new-york.osm2pgsql-geojson.zip

Thks !

[2016-12-07 17:59] jeancabouat commented on #98
Available on : https://s3.amazonaws.com/metro-extracts.mapzen.com/new-york_new-york.osm2pgsql-shapefiles.zip

[2016-12-07 18:11] jeancabouat commented on #98
From there: https://mapzen.com/data/metro-extracts/metro/new-york_new-york/

[2016-12-07 18:30] sckott commented on #98
worked for me.

* Downloaded https://s3.amazonaws.com/metro-extracts.mapzen.com/new-york_new-york.osm2pgsql-shapefiles.zip
* Unzipped it, can do manually in file finder/etc. or programatically in R via `unzip()`
* Then inside the directory of the unzipped folder, ran `out <- geojson_read("new-york_new-york_osm_point.shp", method = "local", parse = TRUE)` it took a long time, but reasonable because

[2016-12-08 16:31] spencer-miller opened #99 "Get "is corrupt" anytime I try and use it"
I get the following error when I begin typing any function from package:

`Error in fetch(key) :
lazy-load database 'C:/Users/SPENCER.MILLER/Documents/R/win-library/3.3/geojsonio/help/geojsonio.rdb' is corrupt`

[2016-12-08 17:42] sckott commented on #99
@spencer-miller that is often fixed by restarting your R session. did you try that?

[2016-12-08 19:38] sckott commented on #98
@jeancabouat did you get a chance to try this again?

[2016-12-08 20:47] jeancabouat commented on #98
Many thanks for your help Sckott.
Actually, I didn't have all the needed files.
It perfectly works now !

[2016-12-08 20:47] #98 closed

[2016-12-08 20:49] sckott commented on #98
great, good

[2016-12-31 03:01] sckott commented on #99
closing due to inactivity

[2016-12-31 03:01] #99 closed

[2016-12-31 03:02] sckott opened #100 "add topojson utilities"

[2016-12-31 03:54] sckott commented on #100
work on branch https://github.com/ropensci/geojsonio/tree/topojson-write

[2016-12-31 10:25] jeroenooms commented on #100
The `geo2topo` function gives different output from the command line utility. This is what the npm module gives:

[code]
[code]

And this is what the R function gives:

[code]
[code]

[2016-12-31 16:10] sckott commented on #100
yeah, i guess that makes sense, since https://github.com/topojson/topojson-server/blob/v2.0.0/bin/geo2topo is doing other things before the `topojson.topology` call https://github.com/topojson/topojson-server/blob/v2.0.0/bin/geo2topo#L113 - i guess I mistakingly thought `topojson.topology` would be adequate

[2017-01-07 18:14] sckott commented on #100
hmmm, @jeroenooms any thoughts on how to get the same answer using `topojson.topology` as the `geo2topo` command line option ?

[2017-01-11 20:41] sckott commented on #86
moving this to next milestone, I think we should send what we have so far for `v0.3` https://github.com/ropensci/geojsonio/milestone/3?closed=1

[2017-01-11 21:01] sckott opened #101 "Convert non-epsg:4326 CRS package-wide"
with parameter to toggle on or off

[2017-01-11 21:33] ateucher commented on #101
Parameter name `convert_wgs84`? or just `WGS84`?

I think, at least for this version, the default value should be `FALSE` (i.e., don't convert) otherwise it will cause unexpected results in existing code. If `FALSE` we could throw a warning or a message that WGS84 is the standard and converting to it will/may be the default behaviour in a future version?

For sf and Spatial objects that don't have

[2017-01-11 22:08] sckott commented on #101
* probably `convert_wgs84 `
* I agree default to `FALSE`

that sounds good to me.

hmm, possibly allow a user to pass in the CRS if they know it (but it's for some reason not attached to the data)?   or is that a bad idea?

[2017-01-11 22:13] ateucher commented on #101
That could work for sp and sf classes, for sure. Should probably do some minimal checking to make sure a CRS passed in is valid, but beyond that, *caveat emptor* I would say.

[2017-01-11 22:19] sckott commented on #101
Okay, but for numeric/data.frame/etc. classes - always just assume WGS84?

[2017-01-11 22:44] ateucher commented on #101
I think that's the only way to do it... the other option is, if they pass in a CRS, convert the object to sf or sp, transform it to WGS84, then convert to geojson. But that would probably require (for example): **numeric -> geojson -> Spatial* -> spTransform -> geojson**. Which seems crazy

[2017-01-11 22:59] sckott commented on #101
yeah, let's just assume WGS84

[2017-01-13 17:13] ateucher commented on #101
Started crs-convert branch. I think the functionality is there, just need to add the parameter to generics and methods and tuck `detect_convert_crs` into the right places

Need it in:
- `geojson_json`,
- `geojson_list',
- `geojson_write`

Anything else?

[2017-01-13 17:24] sckott commented on #101
Add new tests for functions that get this functionality

[2017-01-14 23:44] mdsumner commented on #77
Still a pressing issue? We can easily leverage sf to do this, I might need help with the structure-composing on the other side, but the sf-decomposing is no problem.

[2017-01-15 16:52] sckott commented on #77
Definitely want to avoid round tripping if possible. We've definitely sped this up a lot - if we can make it faster I'm all for it.

Seems like @ateucher has done sf to geojson already, yes? So I think we need sp classes to geojson - We have some of the sp classes covered in the `geojson` package - that Jeroen added - but we're not importing that functionality here yet, see https://github.com/rope

[2017-01-15 17:08] ateucher commented on #77
I haven't looked closely enough at the sp -> geojson in the geojson package yet, but I'm not convinced it deals properly with polygon holes in SpatialPolygons[DataFrames]s. But sf does Spatial -> sf without sp in `st_as_sfc`, so I think we can borrow the logic from there to go sf -> geojson. Code is [here](https://github.com/edzer/sfr/R/sp.R)

[2017-01-16 01:29] sckott commented on #77
@ateucher sounds good to use `sf` to do it

[2017-01-16 19:38] ateucher commented on #77
@sckott @mdsumner do you mean to convert `Spatial*` objects to geojson by converting `Spatail*` -> `sf[c]` -> `geojson`? Wouldn't that be inefficient? Also, then we'd want to `Import` sf as well as `sp`, which up until this point we'd been trying to avoid.

[2017-01-16 20:36] sckott commented on #77
@ateucher ah, so by

you just meant borrow some code, not use `sf`?

[2017-01-16 21:14] mdsumner commented on #77
Yes, it'd be good to use the sf approach, and possibly you could remove the dep on sp completely. but sf bundles with GDAL, GEOS and PROJ.4 so it's not exactly small.  But fwiw it's very efficient to convert to sf, and it would allow you to remove those converters from your package if you relied on sf.

I don't have enough understanding of geojsonio design to know what's best (I see import(sp) and

[2017-01-16 21:16] mdsumner commented on #77
I made a start on the imports here, but to finish it might be more complicated than I'd like :)
 https://github.com/mdsumner/geojsonio/tree/sp-imports

[2017-01-16 21:45] sckott commented on #77
what does this mean?

I think we'd still want to keep `sp` in Suggests (the only load for users that do `sp` stuff) at least for users that want to convert sp class objects to geojson

[2017-01-16 21:53] ateucher commented on #77
In my opinion, the goal would be to move `sp`, `rgdal`, `rgeos`, and `sf` to `Suggests`, and only use them for changing CRSs, and probably going from `geojson` to `Spatial` or `sf` classes.

I think we should be able to go from `sf` to `geojson` (already done) and `Spatial*` to `geojson` largely without using those packages.

@sckott:

Yup.

[2017-01-16 22:57] sckott commented on #77
Agree with you @ateucher - ideally all those pkgs in Suggests

[2017-01-17 03:59] mdsumner commented on #77
@sckott I just mean the entire package is imported "holus bolus", rather than just the functions needed. I'd like to make those imports granular so it's clear what's used and what isn't, which is a stepping stone to Suggests.

[2017-01-17 15:40] sckott commented on #77
ah, makes sense @mdsumner

[2017-01-20 17:42] ateucher commented on #101
Closed by #102

[2017-01-20 17:42] #101 closed

[2017-02-03 06:17] sckott opened #103 "cran checks failing"
not be testing messages from other packages in your own package.  You
should also be using Suggests: packages conditionally, as on Windows 3.2.x.

[2017-02-03 06:17] sckott commented on #103
@ateucher if you have any insight, need to submit patch soon

[2017-02-03 06:17] sckott commented on #103
edzer said

the outputs indicate there is nothing wrong, but that the test is wrong
(checks identical strings, rather than strings indicating the same
datum). But I agree, it's not a geojsonio issue.

[2017-02-03 06:18] sckott commented on #103
for the problem _should also be using Suggests: packages conditionally, as on Windows 3.2.x._

[2017-02-03 17:03] ateucher commented on #103
@edzer what is the best way to compare CRS without comparing proj4strings directly? It's something I've never been able to figure out.

[2017-02-03 17:07] ateucher commented on #103
Interesting point about using a package conditionally in tests. I've never done that

[2017-02-03 20:16] sckott commented on #103
@ateucher maybe we should just `skip_on_cran()` for those CRS comparison tests for now? until sorted out?

[2017-02-03 20:24] ateucher commented on #103
Totally fine with me

[2017-02-04 01:57] sckott commented on #103
@ateucher you can see that the `units` pkg is not avail. in this fedora build https://builder.r-hub.io/status/geojsonio_0.3.0.tar.gz-38868a445eb646cf9ff14eaf717a5b5d#L2003 not sure why

[2017-02-04 02:26] sckott commented on #103
failure on fedora - sent a PR to gabor https://github.com/r-hub/sysreqsdb/pull/21 - so we should be able to test on fedora via rhub soon

[2017-02-04 03:19] ateucher commented on #103
Awesome thanks for looking after that @sckott.

[2017-02-04 11:02] edzer commented on #103
`sf` has an `==` method for `crs` objects, but even that is not bullet proof for this case:
[code]
my (and Brian's) advice is to not add tests involving proj4 string in geojsonio, as it is variability in PROJ.4 and GDAL that you're testing, and that is not geojsonio's problem.

[2017-02-04 16:05] ateucher commented on #103
Thanks @edzer that's helpful. @sckott maybe we could just check the first one or two coordinates to make sure they 'look like' lat/long (i.e. -360 <= x <= 360) to ensure conversion occurred?

I'm away all weekend without a computer, @sckott are you able to take care of it?

[2017-02-04 16:44] sckott commented on #103
Sure, can try that, should be able to take care of it today

[2017-02-04 17:07] ateucher commented on #103
Awesome, thanks Scott!

[2017-02-06 07:51] sckott commented on #103
submitting now

[2017-02-06 07:51] #103 closed

[2017-02-27 06:30] sckott opened #105 "replace httr with crul"

[2017-05-29 22:45] ateucher opened #107 "Remove class from columns of class 'unit'"
When `sf` calculates the area or length of a feature, it gives the resulting object the 'units' class (from the [units](https://cran.r-project.org/web/packages/units/index.html) package). In `geoojsonio::to_json` ([here](https://github.com/ropensci/geojsonio/blob/ccde9faaccb718c68ff6bb113e8d119af335802d/R/zzz.r#L3-L6)) we should detect these and `as.numeric` them before converting to `json`. Or we

[2017-05-29 23:32] ateucher commented on #107
I lean towards the latter for simplicity, and would deal with other special classes that come along. I can't think of a reason off the top of my head what the downsides would be... thoughts @sckott?

[2017-05-30 16:28] sckott commented on #107
Agree forcing sounds good!

[2017-05-30 17:01] ateucher commented on #107
Closed in a91a7b9d8faeccc12ca8ecf3d6e09f3fc6b6ccc5

[2017-05-30 17:01] #107 closed

[2017-05-30 19:24] ateucher commented on #107
@sckott now it's really done I think, if you want to have a look. `writeOGR` doesn't like special classes either, so I tackled that in https://github.com/ropensci/geojsonio/commit/ba495356b219c4b92f5b97afcfe4bb9115b4793b

[2017-05-30 19:37] sckott commented on #107
LGTM

[2017-05-31 00:46] mdsumner commented on #107
Might be worth putting that classes logic into rgdal itself, I'll have a look.  Roger patched the dev version recently to accept a tibble (it was otherwise relying on drop = TRUE).

[2017-05-31 00:52] ateucher commented on #107
Thanks @mdsumner. It is explicitly documented in the help page for writeOGR that anything other than those basic classes will throw an error, so it seems they wanted the user to decide what to do with special classes

[2017-05-31 01:15] mdsumner commented on #107
That's a good point, but I think the opportunities for this to be a problem are much more frequent now that the perspectives are changing. :)

[2017-05-31 16:37] ateucher commented on #107
That's probably true! I certainly have no issues if you want to pursue it 😄

[2017-06-29 07:47] rsbivand opened #108 "geojsonio broken, certainly with GDAL >= 2.2"
A fresh rgdal is being submitted to CRAN. With GDAL 2.2.0 and later, it shows testthat failures:

geojsonio fails predictably for GDAL > 2.1, because of:

on the help [page](http://www.gdal.org/drv_geojson.html).

[code]

See:

[code]
Other failures are:

[2017-06-29 17:29] sckott commented on #108
Thanks for this. Will fix asap.

[2017-06-29 17:43] rsbivand commented on #108
If you don't have a GDAL 2.2.0 or 2.2.1 (just released), please let me know and I'll check if I can.

[2017-07-11 19:24] ateucher opened #109 "Dealing with NA values in geojson_write, as.json etc."
When there are `NA` values in a field, `jsonlite::toJSON` deals with them differently depending on the type. I recently got bitten by this for numeric values where values that were `NA` in R were written to geojson file as `"NA"` rather than `null` as I would have expected.

[code]

I'm not sure when you *wouldn't* want `null` for `NA` values, but I'm happy to be educated 😄

We could hardcode `na

[2017-07-11 20:03] sckott commented on #109
Hmm, i agree that `null` makes more sense - and I'd vote to change it to `na = "null"` by default. could add new param of `na` that's passed on to `jsonlite::toJSON`?

[2017-07-11 21:44] ateucher commented on #109
Good idea. Also wonder if we should add a `pretty` param that is passed through... With big geojson files I often wish for that option.

[2017-07-11 21:46] sckott commented on #109
pretty is passed to `jsonlite::toJSON` ?

[2017-07-11 21:50] ateucher commented on #109
Yep. It's hardcoded to `TRUE` right now in `geo_list` and `json` methods of `geojson_write`: https://github.com/ropensci/geojsonio/blob/master/R/geojson_write.r#L390-#L409

[2017-07-11 22:01] ateucher commented on #109
But `geojson_json` `...` is passed through to `jsonlite::toJSON` so you could use `pretty` there - that is a bit different.

[2017-07-11 23:26] sckott commented on #109
okay

so do you mean with big files you'd prefer to have pretty as `TRUE` or `FALSE`, just curious, i assume `FALSE` to save disk space due to newlines and such removed?

[2017-07-11 23:44] ateucher commented on #109
Yup, you're right. It'd be nice to be able to minify as much as possible with `pretty = FALSE`

[2017-07-11 23:47] sckott commented on #109
okay

[2017-07-12 16:46] ateucher commented on #109
Any thoughts on how best to document `geojson_write` and `geojson_json` where some methods (e.g., sf, json, geo_list) use `jsonlite::toJSON` internally and some (Spatial etc) use `rgdal::writeOGR` internally? `na` and `pretty` will have no effect on the latter.

[2017-07-12 17:01] ateucher opened #110 "RFC 7946"
Not for addressing now, but for GDAL >= 2.2 there is a new flag `RFC7946` to enforce the new geojson standard (including automatic reprojection to WGS84 and enforcing the right-hand rule). [See here](http://www.gdal.org/drv_geojson.html). We could rely on that more heavily.

[2017-07-12 17:08] ateucher commented on #109
The other option is to just use `...` so a user can set `na`, `pretty` or whatever else they want - then in the docs say which methods pass `...` to `writeOGR`, and which pass it to `toJSON`. The docs already say `...` is passed to `writeOGR` which is only partially true. Unfortunately I don't think there's an elegant way to set a default (i.e., `na = "null"`) that can be overridden by an arg in `

[2017-07-12 17:13] sckott commented on #110
cool, sounds good - been dealing with right-hand rule lately

[2017-07-12 17:21] sckott commented on #109
do you lean one way or the other?  I think i lean towards `...` and documenting in which cases it goes to jsonlite and which to writeOGR

[2017-07-12 18:37] ateucher commented on #109
I have the same inclination

[2017-07-18 23:24] sckott commented on #108
I think we're good now, @ateucher let me know if you find any problems due to this fix

[2017-07-18 23:24] #108 closed

[2017-07-18 23:29] sckott commented on #109
@ateucher is this sorted out now, that is. do we close?

[2017-07-18 23:37] ateucher commented on #109
Yep. Closed by #111

[2017-07-18 23:37] #109 closed

[2017-07-19 00:09] ateucher commented on #108
Makes sense to me, though could we use `readOGR(x$path, rgdal::ogrListLayers(x$path)[[1]], ...)` instead and not have to check the gdal version?

On my Windows machine with GDAL 2.0.1:

[code]

As we do [here](https://github.com/ropensci/geojsonio/blob/cbcbed42d97e8219ce1d8b908b3ebed3873e213b/R/file_to_geojson.r#L126)?

With GDAL >= 2.2 I would expect `rgdal::ogrListLayers("inst/examples/californi

[2017-07-19 19:33] chendaniely opened #112 "Segmentation fault during installation Arch Linux / MRO"
Hi,
I'm getting a segmentation fault when I'm trying to install the `geojsonio` package.
I don't think it lists this in the session_info, but I'm also using Microsoft-r-open

Session Info:

[code]

Installation Error:

[code]

[2017-07-20 00:05] sckott commented on #112
thanks for the report @chendaniely

looks to be a `V8` pkg problem.

looks like your on arch linux related platform  - these may help https://github.com/jeroen/V8/issues?q=is%3Aissue+arch+is%3Aclosed - @jeroen any thoughts on how to fix this?

[2017-07-20 00:06] sckott commented on #108
Hmm, i don't know - can check that

[2017-07-20 14:26] jeroen commented on #112
I also suspect it is this issue: https://github.com/jeroen/V8/issues/32.

[2017-07-20 19:44] chendaniely commented on #112
The `PKGBUILD` file in https://github.com/jeroen/V8/issues/32#issuecomment-274110406
seemed to have worked for this package

(Note the `gyp-git` dependency needs to be installed from the AUR, otherwise `makepkg -si` seems to work just fine)

Seems the `geojasonio` part of the package installed just fine.

Seems i'm getting the same error in `geojsonlint` now... will check my `libv8` pkg...

[code]

[2017-07-21 00:56] chendaniely commented on #112
I seemed to get everything working after installing `v8-3.14-bin` from the AUR with `yaourt -Syyua v8-3.14-bin`

This issue can be closed.

[2017-07-21 14:27] ateucher commented on #108
I get this on my mac with GDAL v2.2.0:

[code]

So I think that could work... thoughts?

[2017-07-21 16:05] sckott commented on #112
thanks @chendaniely - glad you got it working!

[2017-07-21 16:05] #112 closed

[2017-07-21 16:21] ateucher commented on #108
@sckott I pushed branch `read-gdal2` with this method implemented - let me know what you think

[2017-07-21 16:52] sckott commented on #108
will have a look

[2017-07-21 18:04] sckott commented on #108
@ateucher tested out on newer and older gdal, works good, merge when you're ready

[2017-07-21 18:09] ateucher commented on #108
Great, will do - thanks!

[2017-07-21 22:14] sckott opened #114 "geojson spec vignette changes"
- update to point to new spec
- change content to indicate all major points in spec
- anything else?

[2017-07-25 19:31] chendaniely commented on #112
Just to be complete (since I just had to do this installation again on a brand new machine)

you need to install `v8-3.14` from the AUR to have the correct header files to build the package, and then install `v8-3.14-bin` to have the correct binary.

[2017-07-25 19:33] sckott commented on #112
thanks @chendaniely for the further details - this record keeping will be really helpful to other arch users

[2017-07-27 04:23] jpmarindiaz commented on #24
Is it still not possible to write topojson files?

[2017-07-27 05:38] sckott commented on #24
not looked at this in a while - will look early next week, away from computer for next few days

[2017-08-03 20:50] miradimi opened #115 "Timeout when trying to read a simple GeoJSON file"
This very simple command:

dat <- geojsonio::geojson_read(myfile)

generates this error for me:
Error in curl::curl_fetch_memory(url, handle = handle) :
  Timeout was reached

I validated the input file using http://geojsonlint.com/

Session info ----------------------------------------------------------------------------------------------------------------------------------------
 setting  value

[2017-08-03 21:08] sckott commented on #115
thanks @miradimi but we need the value of `myfile` to replicate the problem - or at least a similar file that creates the same error

[2017-08-03 21:22] miradimi commented on #115
HI Scott,

I’ll have to construct a new file as I can’t release any data without prior approval.  I’ll try and do that tomorrow but I don’t know
if I can get to it. If you need to close the ticket because of incomplete data, please do so. I am happy to re-open it.

Mira

[2017-08-03 23:20] sckott commented on #115
okay, understandable. will leave it open for now

you can email it to me if you want, i promise i won't share it.

fyi, we have a geojson lint pkg https://cran.rstudio.com/web/packages/geojsonlint/

[2017-08-04 23:02] sckott commented on #24
@jpmarindiaz and @ateucher thoughts on this:

see `?geo2topo` `?topo2geo` `?topojson_write` `?topojson_read` man files after installing `devtools::install_github("ropensci/geojsonio@topojson-write")`

thoughts on the diff. fxns, their parameters, behavior, outputs, inputs, etc. ?

[2017-08-05 02:49] jpmarindiaz commented on #24
Perfect, thanks so much. My only comment would be not to throw an error when trying to read a topojson file whose extension is `.json`. It only works for files whose extension is `.topojson`

[code]

[2017-08-08 16:39] miradimi commented on #115
Hi Scott,  now I remember. I got to your package because I wanted to use the capability
to change the winding order of my input file. So when I test my input file using a regular
JSON validator I get no errors. But I do get an error when I try to validate with your
GeoJSON linter saying that the winding order is incorrect.  Could my problem in the
command:

dat <- geojsonio::geojson_read( file)

o

[2017-08-08 18:54] sckott commented on #24
working on filling out the remainder of the S3 methods for `topojson_write`

[2017-08-08 21:17] sckott commented on #24
@jpmarindiaz and @ateucher try it out again after reinstalling - all S3 methods done now. `topojson_read` works for json and topojson file extensions now

[2017-08-08 21:20] sckott commented on #115
Possibly. hard to tell without seeing the data. Though the error you gave in your first comment on this issue doesn't suggest that that's the problem

[2017-08-08 21:34] miradimi commented on #115
I’ll send you a file tomorrow with data in the wrong winding order for you to try out.  That’s also the file that gave me the error I reported.

Mira

[2017-08-08 22:20] sckott commented on #115
thanks.

[2017-08-09 18:46] miradimi commented on #115
Hi Scott,

Attached is a mini-file that behaves the way I described:

1. No problems in a regular JSON validator (https://jsonformatter.curiousconcept.com/ <https://jsonformatter.curiousconcept.com/> and https://www.freeformatter.com/json-validator.html <https://www.freeformatter.com/json-validator.html>)

2. waring/error in http://geojsonlint.com/ <http://geojsonlint.com/>
Line 10: Polygons and M

[2017-08-10 23:45] sckott commented on #115
hi @miradimi no attachment came through

[2017-08-15 16:15] sckott commented on #115
Hi @miradimi - I can't replicate your problem with the files you sent.

I did notice something that you can try though. The default for the `method` parameter in `geojson_read` is `method = "web"` - which goes out to and uses http://ogre.adc4gis.com/convert - you can try setting `method = "local"` which will then use  `rgdal` instead - `method = "web"` is consistent with the error you see as `curl

[2017-08-15 16:15] sckott commented on #115
let me know if that works or not

[2017-08-15 18:29] sckott commented on #24
I'll take that as a good to go, merging soon

[2017-08-15 18:29] #100 closed

[2017-08-15 18:33] #79 closed

[2017-08-15 20:50] sckott commented on #86
@ateucher can you take a look and tell me what you think?  install  `devtools::install_github("ropensci/geojsonio@json-brief")`

[2017-08-15 20:50] sckott commented on #86
changes only in `geojson_json` function - just run examples to see after installation

[2017-08-15 21:32] ateucher commented on #24
Nice work on this!

[2017-08-21 21:55] sckott opened #117 "add methods: topojson_json and topojson_list"
as equivalents to `geojson_*` versions

if possible - think it's easy enough, just pass on to geojson_ versions and then convert to topojson, maybe

[2017-08-22 17:11] miradimi commented on #115
Hi Scott,

This works for fixing the
mydat<-geojsonio::geojson_read(...) error I got (thank you!). I can also execute the
mydat2<-lawn::lawn_rewind( mydat) function and validate the output using
geojsonio::validate( mydat2).

Now, the output of lawn_rewind is an object of type "featurecollection" that I would like to print to file. I didn't see a print option in the lawn package and in order to us

[2017-08-22 21:21] sckott commented on #115
hi @miradimi - so this works, but not ideal i guess

[code]

[2017-08-22 21:39] miradimi commented on #115
This works indeed! Thanks, Scott.

[2017-08-25 20:33] #115 closed

[2017-08-25 20:52] sckott commented on #115
great, glad it worked. don't hesitate to ask if you have other problems

[2017-08-25 20:57] miradimi commented on #115
Thanks again for all the help!

Cheers, Mira

[2017-08-28 06:00] r-barnes opened #118 "Web Connection"
geojsonio tries to connect to a website when the library is loaded.

I'm even able to log the traffic:

      PID USER     PROGRAM                           DEV        SENT      RECEIVED
    24257 user     /usr/lib/R/bin/exec/R             enp0s2      1.836      11.718 KB
     2512 user     /opt/google/chrome/chrome         enp0s2      5.651      10.367 KB
     2140 user     /usr/lib/thunderbird/t

[2017-08-28 23:42] sckott commented on #118
We were loading topojson JS lib from the web - which we didn't need to do, should be fixed now, install `devtools::install_github("ropensci/geojsonio")` and try again

[2017-08-29 00:57] r-barnes commented on #118
I tested again and didn't see any traffic this time. That's 100% better!

[2017-08-29 00:57] #118 closed

[2017-08-29 01:26] sckott commented on #118
glad it works

[2017-08-29 02:05] SymbolixAU opened #119 "geojson_json to return a single Feature, rather than FeatureCollection"
When converting a single row of an `sf` object to geoJSON, is it possible to return a single `Feature`, rather than a `FeatureCollection` ?

  ## Example

  Taking the data supplied by `sf`, if you convert a single row it returns a `FeatureCollection`

[code]

Would it be possible to return this just as a `Feature` ?

[code]

---

The use-case I'm thinking for this is storage in a GeoDatabase (Mon

[2017-08-29 22:40] sckott commented on #119
Thanks for this @SymbolixAU

You could do that afterwards with `jqr`, e.g.,

[code]

But, that's of course a solution that doesn't really get at your question within this pkg. We may be able to allow this in `geojson_json`/`geojson_list` - though need to think about how it would work.

With `geojson_list` it's straightforward to index to the array of features `output$features`, but not so easy wit

[2017-09-13 18:33] sckott commented on #119
@SymbolixAU okay, reinstall `devtools::install_github("ropensci/geojsonio@atomize")`

see `geojson_atomize` and it's examples

i thought it might be easier to make a new fxn rather than change behavior in the two work horse fxns `geojson_json`/`geojson_list`

right now the fxn works with output of those two fxns just listed.

* when a featurecollection is passed in, get features back as separate i

[2017-09-13 21:42] SymbolixAU commented on #119
Thanks for looking at this; and for adding it to your next milestone! I think this is a good start.

However, I'm wondering if it's erroneous to class the output as `json`, given:

[code]

Maybe the returned value(s) should be a vector of JSON objects, rather than collapsed down into one long char?

[2017-09-13 22:13] sckott commented on #119
try again

[2017-09-13 22:16] SymbolixAU commented on #119
yep - that's got it working

[2017-09-13 22:19] SymbolixAU commented on #119
I think it might be worth allowing the user to specify if they want to `combine` the `tmp` object through an argument in the function - thoughts?

[2017-09-13 22:31] sckott commented on #119
good idea. Do you ever want them as separate JSON objects?  or always as one JSON object?

[2017-09-13 22:39] SymbolixAU commented on #119
I think I would get more use out of separate JSON objects, primarily because I can then work with each geometry/feature independently, both for plotting and storing.

For example, this workflow

[code]

inserts 100 features into the database. This then allows me to geo-index the geometries and do geometry calculations on-the-fly on the server. (I wrote a recent blog post giving an example of what

[2017-09-14 17:19] sckott commented on #119
thanks. i think it makes sense to provide a parameter to toggle this behavior - i think it makes sense to have default of one single JSON valid output since that's what this pkg does - `jqr` doesn't necessarily do that, but i think we should be consistent with behavior that already exists in this pkg

p.s. note that we don't add the `properties` element, which is needed often for other downstream

[2017-09-14 21:56] SymbolixAU commented on #119
Yeah happy with that. And thanks for introducing me to `jqr` too, it's made my life a whole lot easier https://github.com/SymbolixAU/googleway/blob/master/R/results_access.R#L110 !

p.s. that's Ok, I can live without the `properties` element

[code]

![screen shot 2017-09-15 at 7 53 10 am](https://user-images.githubusercontent.com/18344164/30457518-f2b6e3e6-99ea-11e7-99d1-3af19969dbac.png)

[2017-09-14 22:01] sckott commented on #119
great, glad you like `jqr` - glad we were able to wrap it up nicely in R (same person did the heavy lifting that made `mongolite` 😸 )

[2017-09-14 22:02] SymbolixAU commented on #119
yeah, I'm well aware/greatful to Jeroen :) - I use his packages a lot !

[2017-09-14 22:35] #119 closed

[2017-09-23 19:41] petulla opened #121 "How to read properties table of topojson"
Hi there

I've been able to successfully load the gis features of a topojson file. But I noticed when I load my topojson, the properties table is not loaded alongside the polygons.

How can you load properties with your features with this package?
[code]

[2017-09-23 20:09] sckott commented on #121
thanks for the issue and session info @petulla

can you give an example?

[2017-09-23 20:24] petulla commented on #121
Any topojson file shouldl serve as an example, I think.

[2017-09-24 20:09] sckott commented on #121
just added a new eg file, `examples/swiss_cantons.topojson` to the pkg,

[code]

where `@data` has properties from the topojson file.

we internally use `rgdal::readOGR` FYI

i assume you were using `topojson_read`

[2017-09-25 16:01] petulla commented on #121
Any debugging help with this error? Same topojson issue, attemping your read-in code.

``Error in rgdal::readOGR(x, layer = rgdal::ogrListLayers(x)[1], drop_unsupported_fields = TRUE, : empty name
[code]

[2017-09-25 16:09] sckott commented on #121
first, need the complete code you ran, not just the error. also, that's a new dataset i added, so you need to reinstall first if you didn't already `devtools::install_github("ropensci/geojsonio")`

[2017-10-05 23:50] jsta commented on #121
Works ok for me.

[2017-10-06 19:45] sckott commented on #121
great, thanks @jsta !

@petulla did you get a chance to try it out?

[2017-10-11 18:09] chendaniely commented on #112
another update from another clean install:

`v8` in R needs the source, and the `jsonvalidate` needs the binary

[2017-10-11 18:18] sckott commented on #112
thanks for the update @chendaniely

[2017-10-23 11:15] fmichonneau commented on #86
+1 for this. I too often crash my R session by trying to print a 10Mb geo_json object :neutral_face:

[2017-10-23 17:34] sckott commented on #86
thanks @fmichonneau motivation to get this done sooner

[2017-10-23 22:15] sckott opened #122 "clean up temp files throughout"
not a big deal when use case is just a few files, but can be a big problem when lots of files

[2017-10-24 21:58] sckott commented on #122
sorted

[2017-10-24 21:58] #122 closed

[2017-10-24 21:59] sckott commented on #35
don't think it makes sense since geojson assumes wgs84

[2017-10-24 21:59] #35 closed

[2017-10-24 22:02] sckott commented on #86
Since it'd be best to handoff the heavy lifting to `geojson`, i think we move forward with brief output for json as a string for now and then do brief output for lists once lists are supported in `geojson` - see https://github.com/ropensci/geojson/issues/18

[2017-10-24 22:07] sckott opened #123 "brief output for geojson_list and other fxns"
#86  is doing for `geojson_json` - need to do for remainder of fxns, should be:

- [ ] `geojson_list`

[2017-10-24 23:14] #86 closed

[2017-10-25 18:48] #117 closed

[2017-11-04 01:20] martgnz opened #127 "Topojson write also writes a GeoJSON"
While using `topojson_write` I've noticed that it also writes a GeoJSON file with the same name and the `.geojson` extension. Is this expected? Or am I doing something wrong?

This is my code:
[code]

[2017-11-04 05:10] sckott commented on #127
thx @martgnz , can you reinstall `devtools::install_github("ropensci/geojsonio")` and try again

[2017-11-04 20:12] martgnz commented on #127
Now it works as expected, thank you 👍

[2017-11-06 21:15] #127 closed

[2018-01-03 15:58] MedhatAhmed commented on #91
I'm trying to run this
url <- "http://leafletjs.com/examples/choropleth/us-states.geojson"
states <- geojsonio::geojson_read(url, what="sp")

and I got an error saying "Error in rgdal::ogrListLayers(input) : Cannot open data source"

[2018-01-03 16:03] MedhatAhmed commented on #108
I'm trying to run this piece of code
url <- "http://leafletjs.com/examples/choropleth/us-states.js"
url.exists(url)
states <- geojsonio::geojson_read(url, what="sp")
and I got an error saying "Error in rgdal::ogrListLayers(input) : Cannot open data source"

[2018-01-03 17:42] mdsumner commented on #91
The HTTP driver recently came to CRAN's windows rgdal but the installs here are older:

http://rpubs.com/cyclemumner/309133

[2018-01-03 18:07] sckott commented on #91
@MedhatAhmed that URL does not exist - please:

- share a URL that actually works
- share the output of `sessionInfo()`
- please use syntax highlighting - see https://guides.github.com/features/mastering-markdown/ for help

[2018-01-03 18:55] mdsumner commented on #91
Oh sorry, didn't notice how old this issue was.  Should definitely work :)

[2018-02-27 18:36] sheffe opened #128 "geojsonio::geojson_json call leads to Error: protect(): protection stack overflow"
Crosspost at @ateucher 's request from [rmapshaper#71 here](https://github.com/ateucher/rmapshaper/issues/71)

I'm working with a moderately sized sf polygon object (all US census tracts downloaded by the tigris package), about 73k rows and 150Mb in memory according to object.size(). I'm using rmapshaper::ms_simplify() with default params, and getting a consistent error of the form Error: protect(

[2018-02-27 20:13] sckott commented on #128
oof, sorry about that @sheffe

I ran the examle, and indeed get the same thing.

looking into it.

[2018-02-27 22:43] ateucher commented on #128
@sckott I also noticed that converting big `sf`/`sp` objects to geojson has slowed down since the addition of adding classes via `geojson`. I’ll post a reprex soon... but wonder if we can somehow provide an ‘escape’ of some sort to avoid it?

[2018-02-27 22:45] sckott commented on #128
thanks @ateucher - sounds good.

possibly, will have to make sure it wouldn't break behavior.

[2018-02-28 19:35] ateucher commented on #128
I don't know enough about C++ to know whether this is related to the protect/stackoverflow issues, but here is a test of timings with a largish `sf` object, converting sf to geojson with/without adding the classes via `geojson`:

[code]

[2018-02-28 19:40] ateucher commented on #128
@sckott as a way around it, could we either:

1. Add an argument `character_only` (boolean, default `FALSE` to preserve current behaviour) to `geojson_json()` to force skipping of `geoclass`

2. Add a `"character"` option to the `type` argument (in addition to current `"auto"`, `"FeatureCollection"`, `"Point"`, `"Polygon"` etc) that would do the same?

[2018-02-28 19:45] ateucher commented on #128
If option **2**, the `geoclass` function could look like this:

[code]

[2018-03-01 22:28] sckott commented on #128
I guess a `character` option in the `type` parameter doesn't fit in thematically because all the options in that param are all for the type of geojson object, and not data type (character, numeric, etc.) Maybe use a word like "skip" to indicate skipping the coercion to a `geojson` pkg class?

[2018-03-01 22:39] sckott commented on #128
install from `remotes::install_github("ropensci/geojsonio@skip-geoclass")`

[code]

[2018-03-01 22:40] sckott commented on #128
thoughts?

[2018-03-02 01:30] ateucher commented on #128
Makes sense to me. Thanks @sckott !

[2018-03-19 22:42] josiekre opened #129 "Name object in `write_topojson()` something besides `foo`?"
How does one get a topojson file out with an object named something besides `foo`?

[code]

[2018-03-19 23:00] sckott commented on #129
hi @josiekre 👋 thanks for this. Are you referring to the function `geojsonio::topojson_write` ?

also, what versino of the package do you have?

[2018-03-19 23:02] josiekre commented on #129
Yes that's the function. Sorry about that. I updated the issue title. (The `tidyverse` world made me think it would be the other way around.)

I'm running `v0.5.0` at the moment.

[2018-03-19 23:08] sckott commented on #129
we do that here https://github.com/ropensci/geojsonio/blob/master/R/geo_topo.R#L76

ill see about letting user specify that key

[2018-03-19 23:16] josiekre commented on #129
That's where it is! I could not find the right R function that was actually setting that.

[2018-03-20 00:12] sckott commented on #129
@josiekre try again after reinstalling `devtools::install_github("ropensci/geojsonio@topojson-object-name")`

[code]

[2018-03-22 16:52] josiekre commented on #129
This works! I tested it with my code too.

When is your next release to CRAN planned? I will update my DESCRIPTION file to install this branch until it is merged and released on CRAN.

[2018-03-22 17:32] ateucher commented on #128
@sckott should we add this to the v0.6.0 milestone?

[2018-03-22 17:41] sckott commented on #128
@ateucher yep, sounds good, can you do that? or do you not have access?

[2018-03-22 19:35] sckott commented on #129
Great. Glad it works. Next milestone https://github.com/ropensci/geojsonio/milestone/11 hopefully end of next week

[2018-03-23 05:35] ateucher opened #130 "geojson_sp fails with new rgdal"
This is a big one @sckott.

We rely on an undocumented "feature" of `rgdal::readOGR()` where it will happily read a geojson character string passed to the `dsn` argument ([here](https://github.com/ropensci/geojsonio/blob/0efc4e32fcf95475f28b9de419dd1efebc0b58b0/R/geojson_sp.R#L75-L78)). `sf::st_read()` does the same.

A recent change to **rgdal** in v1.2-18 (now on CRAN) is causing this to fail. T

[2018-03-23 05:39] ateucher commented on #130
PS. Our tests aren't failing because the geojson strings we use to test are short enough that they don't make `normalizePath()` fail... but they do throw warnings.

[2018-03-23 14:05] sckott commented on #130
Good catch. I did notice new warnings, but I guess I didn't realize the impact.

I kinda like the sf solution, but

[code]

but i have sf `v0.6.0`, couldn't get `v0.6.1` installed. maybe you did?

[2018-03-23 14:28] ateucher commented on #130
Yeah strangely `as_Spatial()` doesn’t work on `sf` objects, you have to use `as(x, “Spatial”)`.

It probably warrants a little bit more testing - in my brief experiments I noticed that the results weren’t exactly identical; possibly differences in attributes? I wonder if there are any performance implications (good or bad - It means two conversions instead of one but `st_read` tends to be faster t

[2018-03-23 15:34] sckott commented on #130
Okay, thanks @ateucher - on vacation-ish today, so thanks for handling

[2018-03-23 17:16] ateucher commented on #130
See below. It is actually quite a bit faster going via `sf::st_read()`. There is a slight difference in the returned `Spatial` object in that the IDs of the polygons are different. Though I don't know if that matters?

[code]

Created on 2018-03-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-24 03:56] ateucher commented on #130
I've implemented the sf route in the `fix-geojson_sp` branch. I also moved `sf` from `Suggests` to `Imports`, which I think is warranted if we go this route.

[2018-03-24 05:49] ateucher commented on #123
@sckott so we can push the more important fixes out the door, I'm going to suggest we move this to the v0.7 milestone

[2018-03-24 05:50] ateucher commented on #41
@sckott so we can push the more important fixes out the door, I'm going to suggest we move this to the v0.7 milestone

[2018-03-24 05:50] ateucher commented on #70
@sckott so we can push the more important fixes out the door, I'm going to suggest we move this to the v0.7 milestone. (Also, after a quick look, I couldn't find any connections left open...)

[2018-03-24 13:58] sckott commented on #123
done

[2018-03-24 13:59] sckott commented on #70
done

[2018-03-24 14:32] #130 closed

[2018-03-24 20:47] sckott commented on #128
@ateucher is this now working in `rmapshaper`

[2018-03-24 20:58] ateucher commented on #128
I’ll check. I had actually circumvented it, but will likely go back to this

[2018-03-24 21:10] sckott commented on #128
should we leave this open or close?

[2018-03-24 21:58] sheffe commented on #128
Before closing - thanks, everyone!

[2018-03-24 22:10] ateucher commented on #128
Go ahead and close. It’s a rmapshaper issue now ;)

[2018-03-26 05:02] #128 closed

[2018-03-27 16:26] diegopenhanut opened #134 "Update dependency list for ubuntu 17.10"
I did need to install `libgdal-dev` `libgeos-c1v5` `libproj-dev` `libv8-dev` `libjq-dev` on ubuntu budgie 17.10 to get geojsonio to work. Maybe it is worth to put this info on the readme file.

[2018-03-27 17:44] sckott commented on #134
thanks for this @diegopenhanut

Do you mean for the current version on CRAN? or did you install from github?

[2018-03-27 17:49] ateucher commented on #134
Since those are are system dependencies for R packages that `geojsonio` depends on (`sf`, `sp`, `rgdal`, `rgeos`, `jqr`, `V8`) rather than ones that `geojsonio` relies on directly, I wonder how much responsibility we should take on here regarding getting them installed? it's a constantly moving target. Instead could we point to installation instructions for those packages (eg., https://github.com/

[2018-03-27 18:53] sckott commented on #134
right, maybe its best to direct users to the install instructions for other pkgs that depend on those libs - if they exists that is - if not, then maybe we should include them

[2018-04-01 03:32] sckott opened #135 "skip_on_cran `validate()` tests"
https://github.com/ropensci/geojsonio/blob/master/R/validate.R

since they use http requests

[2018-04-01 03:33] sckott commented on #135
failing on one system https://cran.rstudio.com/web/checks/check_results_geojsonio.html  though may be intermittent - though possibly not given the error message itself

[2018-04-01 07:09] #135 closed

[2018-05-09 20:33] sckott opened #136 "Fix `geojson_read` for reading GeoJSON"
related to #130

[2018-05-09 20:46] sckott opened #137 "Dealing with invalid GeoJSON"
arose from https://stackoverflow.com/questions/50240935/removing-brackets-from-ends-of-geojson-in-r

With the `bad.txt` file below, which contains JSON, rgdal fails without a helpful message:

[code]

With `good.txt` it works fine:

[code]

Options:

- Use our pkg `geojsonlint` to lint json to attempt to make sure the json is valid geojson
- don't do anything - check on a case by case basis as use

[2018-05-09 20:46] sckott commented on #137
cc @ateucher

[2018-06-25 18:52] sckott opened #139 "`topojson_json` with sf classes may not be working"
Just noticed this cause I was going to reply to this old SO thread https://gis.stackexchange.com/questions/250760/convert-sf-or-geojson-to-topojson-in-r-geojsonio

Seems like `topojson_json()` is behaving badly for `sf` inputs, e.g.:

[code]

it's empty, whereas it should not be.

if we do  this it works

[code]

but not sure if that's the desired output?  Doing `type="auto"` makes the other examp

[2018-08-11 19:15] OmarGonD opened #140 "Install on Ubuntu 18.04"
I'm trying to install and use geojsonio package to follow up this basic Leaflet tutorial:
[Leaflet choropleths](
https://rstudio.github.io/leaflet/choropleths.html)

But having problems reading the example data in the tutorial, from URL or saving it as *.geojson locally.

However, after reading and trying differente things I'm still getting this error:

[code]
It doesn't matter if I open the URL i

[2018-08-13 18:15] sckott commented on #140
thanks for the issue @OmarGonD

Did you see that the file has `var statesData = ` at the start of it and a semicolon at the end?  So it seems that that URL is almost okay, it just needs to be edited a bit to remove that js var assignment, and to remove the trailing semicolon.

I guess in the leaflet tutorial where it says

it shoould clarify that one needs to edit it a bit.

Let me know if that wo

[2018-08-14 00:42] OmarGonD commented on #140
Thank you, that was it.

[2018-08-14 01:31] #140 closed

[2018-08-20 10:54] josiekre opened #141 "Digits with `geojson_list()`"
There does not seem to be control over the number of digits output when passing a data frame to `geojson_list()`. No matter how many significant digits there are in the `lon` and `lat` columns, the resulting list has at most five digits to the right of the decimal, e.g. -77.11739, 38.94512.

I see from #96 that digits were thought about at some point, but I'm not seeing how this translates into `g

[2018-08-20 11:08] josiekre commented on #141
Here is a simple example:

[code]

Let's print out the `lon` column from the data frame to make sure all the digits we put in are still there:

[code]

Now we'll convert it.

[code]

Now when we look again, we have lost a digit:

[code]

[2018-08-26 19:54] josiekre commented on #141
I thought I played with that. In the file output (as opposed to interactive output), I don't think it made a difference. But I will rerun and report back in a couple days. Thx @sckott.

[2018-08-30 10:00] josiekre commented on #141
A call to `options(digits = 8)` does impact the writing out, but I cannot figure out the relationship between that and `digits` in the call to `geojson_list()`. Can you elaborate on that?

[2018-09-13 17:37] sckott commented on #141
Sorry for the delay @josiekre - was on vacation.

The number of digits written to the console depends on the R option `digits`, so you can set that outside of the `geojsonio` package yourself and it affects what `geojson_list()` returns. Does that make sense?

[2018-10-12 23:55] ateucher opened #142 "sf 0.7.0 (upcoming) names sfc objects, resulting in invalid geojson"
[code]

I think the answer is to just `unname()` sfc objects before converting with `geojson_json.sfc()` and `geojson_list.sfc()`

<sup>Created on 2018-10-12 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-10-12 23:56] ateucher commented on #142
@sckott @edzer

[2018-10-15 17:28] ateucher commented on #142
Not that I can see. It works in rmapshaper which has a pretty comprehensive test suite. The only issue is that on round-trip (i.e., `sfc` -> `geojson` -> `scf`) the names would be lost... but I don't know a: if that's a big deal, or b: a robust way to get around it (i.e., if there is manipulation of the `geojson` before converting back to `sfc`.

[2018-10-15 17:36] sckott commented on #142
we could consider keeping the names in attributes in the object, and applying them to the geojson before converting back to `sfc` ?

[2018-10-15 17:42] ateucher commented on #142
Yep, that would work if the `geojson` is unchanged (though then you have to ask why would a user do a straight round trip if not to do some processing (e.g., with `rmapshaper` or `jqr`)?

[2018-10-15 17:46] sckott commented on #142
right, that's not gonna work to reapply names

[2018-10-15 21:47] edzer commented on #142
Having named geometries is, afair, neither mentioned by simple feature access nor by the geojson RFC. Package sf does it because OGR (GDAL) provides feature IDs -- for some data formats it makes sense to pass them on to R. I don't see an issue if geojsonio drops them.

[2018-10-16 04:49] #142 closed

[2018-10-19 18:37] josiekre commented on #141
I personally think it would be nicer to control the output digits within the function call. It would be better to create a controlled, repeatable function call. I think of `options()` as things that impact my current R session interactively.

It could be smart to default like this:

[code]

[2018-10-22 19:07] sckott commented on #141
thanks @josiekre for the suggestion. i'll think about that.

[2018-11-04 00:07] florianm commented on #134
I'm currently stuck with
[code]

on Ubuntu 16.04.5 LTS with R 3.4 following geojsonio install instructions.
Even after following https://github.com/r-spatial/sf#installing I still get `/usr/bin/ld: cannot find -lgeos
` on both package and source install of rgeos. I haven't got a working install process yet for rgeos.

[2018-11-05 03:08] sckott commented on #134
thanks @florianm for the report. will have a look my tomorrow

[2018-11-05 19:09] sckott commented on #134
@florianm does this https://stat.ethz.ch/pipermail/r-sig-geo/2018-October/026947.html  help at all?

[2018-11-05 23:02] sckott commented on #134
or maybe this https://stackoverflow.com/questions/53042751/when-trying-to-install-rgeos-r-cannot-find-lgeos

[2018-11-06 02:42] florianm commented on #134
Bugger, I'm in the middle of a dist upgrade to Ubuntu 18.04, of course I can't install the recommended `sudo apt install libgeos++-dev` but will try once upgraded!

[2018-11-06 15:31] florianm commented on #134
@sckott on Ubuntu 18.04 LTS following your advice, this works:
[code]
Cheers!

[2018-11-06 17:00] sckott commented on #134
great, thanks, i'll add that to readme

[2018-11-25 08:53] Bio-designer commented on #65
I got the following error:

/usr/bin/ld: cannot find -lv8
collect2: error: ld returned 1 exit status
make: *** [V8.so] Error 1
ERROR: compilation failed for package ‘V8’

when I use
R CMD INSTALL V8_1.5.tar.gz
--configure-vars='INCLUDE_DIR=... LIB_DIR=...'

I am stuck now.

[2018-11-26 18:07] sckott commented on #65
@Bio-designer what operating system are you on? and did you install the v8 system library https://github.com/jeroen/V8#installation ?

[2019-01-11 05:43] jethroppaPH opened #143 "Cannot install in Manjaro"
I am trying to install the package in Manjaro XFCE x86_64. I always received the following error:

[code]

I already have the Arch packages `gdal`, `geos`, and `proj`, as well as `udunits`.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-01-11 15:38] ateucher commented on #143
Hi @jethroppaPH. This looks an error installing one of the dependencies, as `geojsonio` doesn’t contain any C or C++ that needs compiling. It’s possible you are missing system libraries for one of these dependencies. Can you paste a more complete error message?

[2019-01-12 02:59] jethroppaPH commented on #143
@ateucher

I tried again today, this is the error:

[code]
This is the versions of the system packages:
[code]
What other system packages do I need to install?

[2019-01-12 06:39] sckott commented on #143
not sure. spun up an archlinux instance on ec2 and have been fiddling, but not familiar enough with the os to make much progress.

So you get no other errors about any system libraries not being available or not installed?

[2019-01-13 04:20] jethroppaPH commented on #143
Sorry for the late reply.

@sckott

I haven't had any error installing system packages. Prior to installing the said packages, I installed `v8-3.14` which is needed for the R package `V8`. I also installed the system package `qgis`. Maybe these can help?

[2019-01-15 17:43] sckott commented on #143
trying to replicate on an archlinux image:

[code]

but udunits seems to be unavailable. how did you install it?

[2019-01-15 17:55] ateucher commented on #143
I also think this looks looks a lot like [this `V8` issue](https://github.com/jeroen/V8/issues/45). Can you try running:

[code]

and see what happens?

[2019-01-16 19:52] sckott commented on #143
I think just the archlinux image I was on needed it. don't know if yours would. I imagine not if you already had R working.

Maybe this comment helps? https://github.com/jeroen/V8/issues/32#issuecomment-370259886

[2019-01-16 20:02] sckott commented on #143
@ateucher there is the issue of why we need `V8`. took a look. we are removing `lint()` in the next version, which uses v8, so that's promising. But there are two other fxns `geo2topo()` and `map_leaf()` that use v8. perhaps we could move V8 to Suggests and conditionally use v8, but not sure that would work since we have to create v8 context in `.onLoad` on package load.  Of the two fxns that use

[2019-01-16 20:47] ateucher commented on #143
I think it’s a great idea to move `V8` to suggests and conditionally load it. v8 contexts are cheap to create and throw away so there’s no problem just doing it inside the function.

[2019-01-17 23:14] sckott commented on #143
meh, the lib_topojson won't work.

[2019-01-23 03:08] #134 closed

[2019-01-23 19:12] josiekre commented on #141
The `jsonlite::toJSON()` function has a `digits` option that works in this manner. Have you seen this?

[2019-01-23 19:38] sckott commented on #141
thanks @josiekre yes, i have seen that, but did forget about it. In `geojson_list` some functions do go through jsonlite but some do not.

@jeroen is there a way to use here the approach you have for controlling digits in jsonlite? looks like you drop down to C as far as I can tell

[2019-01-29 18:14] sckott commented on #139
@ateucher does this approach seem reasonable? on branch https://github.com/ropensci/geojsonio/compare/topojson_json-auto-sf

Changed `topojson_json` to change type to `auto` if a sf class detected. and otherwise leave `type` as is.

[code]

[code]

[2019-01-29 19:00] sckott opened #144 "Maybe use sf instead of sp within topojson_read?"
via https://stackoverflow.com/q/54413792/1091766

[2019-01-29 19:10] sckott commented on #144
[code]

[2019-01-29 19:10] sckott commented on #144
thoughts @ateucher ?

[2019-02-08 10:25] kevinkvothe commented on #143
I am having the exact same error on Manjaro 18 kde. I thought this https://github.com/ropensci/geojsonio/issues/112 would help, but sadly it says that v8-3.14 and v8-3.14-bin are in conflict so I haven't found a way around. Any ideas?

[2019-02-08 11:59] jeroen commented on #143
You can install the latest version of the V8 package with any recent version of libv8. Does your linux distro have any other v8 versions?

[2019-02-08 12:31] kevinkvothe commented on #143
Yep, 7.2.502 is available on AUR, but i thought the point was to use the 3.14 version because R needs it particularly.

[2019-02-08 12:43] jeroen commented on #143
I released a new version of the R package yesterday that now works with libv8 version 6 or 7

[2019-02-08 13:04] kevinkvothe commented on #143
I'm trying to install it with the 7th version of V8, but a new error came out on R: "/lib/libc++.so: file too short", i'll try to solve it and report back when possible.

[2019-02-10 18:12] dickoa commented on #143
@kevinkvothe libc++ is available under /usr/lib/v8 (no need to build libc++m from AUR I think) you  can add this to your LD path before compiling it. It helps a little bit but I still have this error:

[code]

[2019-02-11 08:20] kevinkvothe commented on #143
Right. Same thing happened to me after i added /usr/lib/v8 to my LD path.

[2019-02-11 08:50] jeroen commented on #143
The better solution would be to convince the arch linux maintainer of the `nodejs` package to build this as a shared library so that we can link to this one.

[2019-02-11 15:52] dickoa commented on #143
@jeroen I would love that too. In the meantime I found a way to have v8 7.2 (AUR package) to work with new version of the R package V8. I realized that the error I got was due to the fact that v8 need external data for blob (snapshot_blob.bin and native_blob.bin) and couldn't find them. I rebuilt V8 not to use external data. You just need to modify the option on the PKGBUILD and this

[code]

Doin

[2019-02-12 11:06] jeroen commented on #143
@dickoa could you try to suggest this fix to the arch/manjaro v8 maintainer?

[2019-02-12 17:24] dickoa commented on #143
@jeroen Definitely. I'm still trying to see understand why I still have 1 error (out of 15000) in the test. It does make PKGBUILD check fail. I will propose this new PKGBUILD as soon as I can figure out why and fix it.

[2019-04-23 23:49] #144 closed

[2019-04-24 02:24] #139 closed

[2019-04-24 02:36] sckott opened #147 "mark validate and lint fxns as defunct - see geojsonlint"
has been marked as deprecated for at least two versions, so time to go

related to #135

[2019-04-24 02:49] #147 closed

[2019-04-24 08:10] rsbivand opened #148 "geojsonio seems vulnerable to PROJ 6"
I'm running reverse dependency checks using **sf** from github adapted not to fail with PROJ 6 sf_0.7-4, and CRAN **rgdal** also adapted not to fail with PROJ 6 rgdal_1.4-3, but see that **geojsonio** fails with PROJ 6. The failures are deep inside testthat, so opaque. I attach the compressed R CMD check files (R 3.5.3).
[failing_check.zip](https://github.com/ropensci/geojsonio/files/3111208/faili

[2019-04-24 16:50] sckott commented on #148
Thanks, I'll have a look. All of those validate tests are a non-issue now as that function is now defunct in the development version and it's tests removed.

Is there a recommended way to use a particular version of PROJ on macos?

[2019-04-24 17:13] rsbivand commented on #148
Thanks!

Sorry, have no OSX access, so can't check. PROJ has some hints here: https://proj4.org/install.html#install, untried. There may also be non-PROJ issues at my end because I was running the github master of **sf** and get different outcomes from Edzer, so instability is a more fitting description than an identified problem. PROJ is going to be unstable for some time, but that's mostly becau

[2019-04-24 20:40] sckott commented on #148
thanks. i'll have a look

[2019-05-29 09:39] rsbivand opened #150 "Vulnerability to GDAL 3.0.0"
Running revdeps for rgdal built with PROJ 6.1.0 and GDAL 3.0.0, I've hit an issue with a test failure that looks like a change in the content of GeoJSON files read through the OGR driver (same would apply in **sf** I think (@edzer)):

In `tests/testthat/test-as.json.R` you have:

[code]
but the fail file shows:

[code]

It seems to drop the CRS assignation, but whether this is the OGR driver, PROJ

[2019-05-29 16:26] sckott commented on #150
thanks for the report, i'll have a look

[2019-05-29 16:59] sckott commented on #150
I can't get source versions of rgdal or sf to installed on my mac, i guess i can try on windows

[2019-05-29 17:04] rsbivand commented on #150
Can you install PROJ, then GDAL and its other dependencies, from source? I realise this isn't what you need to spend time on, but changes in PROJ underlying GDAL are occurring, so everyone downstream faces adapting. @edzer - do we need a resource somewhere (rhub ???) with the forward-looking PROJ and GDAL binaries?

[2019-05-30 16:11] ateucher commented on #150
It looks like maybe GDAL 3.0.0 is starting to enforce `RFC7946` by default? It assumes `EPSG:4326`, and has dropped the crs property (see [Appendix B.1, first bullet](https://tools.ietf.org/html/rfc7946#appendix-B.1).) In GDAL < 3.0.0. `ogr2ogr` has the flag `--RFC7946` ([default `NO`](https://gdal.org/drivers/vector/geojson.html#rfc-7946-write-support)). Perhaps this has switched to `YES`?

[2019-05-30 17:09] sckott commented on #150
thanks @ateucher - possibly, will see if that's the case

@rsbivand i'll try, i do have PROJ v6.1.0, just a matter of getting rgdal/sf to link to that instead of v4.9.3

[2019-09-11 23:00] sckott commented on #143
@dickoa any update on this?

[2019-09-11 23:02] sckott commented on #110
where are we at on this timeline now?

[2019-09-12 00:24] sckott commented on #61
@fxi it has been a long long time, sorry about that. Just pushed up a branch https://github.com/ropensci/geojsonio/tree/geojson_read-postgis with some changes to address your use case. It has been a long time, and now other tools exist in the R world, so maybe this is no longer necessary here.

install `remotes::install_github("ropensci/geojsonio@geojson_read-postgis")`, see `?geojson_read`, an ex

[2019-09-13 18:45] sckott commented on #61
thanks for the quick reply @fxi  - I'll see if I can whip up a docker image

[2019-09-13 20:17] fxi commented on #61
I've managed to build one that should do it

[code]
I will try to test it soon...

[2019-09-13 20:40] sckott commented on #61
i made an attempt here https://github.com/ropensci/geojsonio/commit/f8ad43c7150eaed89605d66b85bf0f930eb9d295 - doesn't have postgres itself

[2019-09-22 20:06] dickoa commented on #143
Marvin packaged his build and it's now available in AUR.

https://aur.archlinux.org/packages/v8-r/

@jethroppaPH hope it works now

[2019-09-25 16:49] sckott commented on #143
thanks for that @dickoa

[2019-10-02 12:25] ChrisJones687 commented on #141
@sckott  I might have a simple solution by updating geojson_rw to take precision as a variable since it is used in geojson_write which is called by geojson_rw. I already have the code updated and it works for my use case. I can submit a PR if you think it would be useful for others and not break anything anywhere else. In my testing, it hasn't affected anything else that I have noticed.

[2019-10-02 18:41] sckott commented on #141
thanks @ChrisJones687 ! a PR would be great.

[2019-10-10 16:50] jsta opened #153 "Dealing with files that are too large"
Trying to read a very large geojson file results in a cryptic error:

[code]

[code]

Maybe there could be a better message hinting that the file is too large?

[2019-10-10 16:51] sckott commented on #153
oof, that's embarrassing, having a look

[2019-10-10 17:11] sckott commented on #153
`method="local"` does work at least, but yes, other method should fail better

[2019-10-10 17:18] sckott opened #154 "change print.location method and class name to not conflict with dplyr"
https://github.com/cran/dplyr/blob/34ee49e1d9c0adc23f4bea709c1bfbae69e2cb4d/R/location.R#L28-L44

[2019-10-10 17:43] #153 closed

[2019-10-10 17:43] sckott commented on #153
errors better now

[2019-10-10 17:55] #154 closed

[2019-10-22 23:32] sckott commented on #141
So the PR #152 added ability to manipulate digits for sp class objects, but we don't have a solution for data.frame's, vectors, lists, etc.

I tried using sf internally with data.frames just to see if it would be feasible, but its much slower than what we have now.  Oh, and I didn't even check that we can manipulate precision through this route, but I assume we can. Anyway ...

[code]

[2019-10-24 18:47] sckott commented on #137
moving to next milestone - played around with this a bit, but it's complicated since at least with `geosjon_read` a user can pass in files and urls, each with various extensions, so makes it quite complicated. e.g. we'd not want to lint a kml file or a shp file

[2019-10-24 19:05] sckott commented on #136
update like geojson_sp did to use sf instead of rgdal

[2019-10-24 22:08] sckott commented on #136
switching to sf from rgdal:

[code]

[2019-10-24 22:33] #136 closed

[2019-10-24 22:33] sckott commented on #70
not seeing this problem anymore, closing

[2019-10-24 22:33] #70 closed

[2019-10-29 17:40] sckott opened #156 "move to using vignette images from imgur.com"
to avoid where to put those files and decreases build size. already uploaded images for the maps vignette

[2019-11-16 17:32] rsbivand opened #157 "geojsonio vulnerable to forthcoming changes in sp and rgdal"
Related to https://github.com/ropensci/geojsonio/issues/150 and https://github.com/ropensci/geojsonio/issues/148:

Running revdep checks for current rgdal on R-Forge - see:

https://stat.ethz.ch/pipermail/r-sig-geo/2019-November/027801.html

shows the errors in the attached check log, related to use of PROJ&/GDAL3
and required changes to sp and rgdal. If useful find a regerence to a docker
image i

[2019-11-18 05:37] sckott commented on #157
thanks @rsbivand - I can't replicate the error. I used the `jakubnowosad/geocompr_proj6` docker image, installed latest rgdal from rforge and have

[code]

do i have the wrong versions of anything?

[2019-11-18 05:41] sckott commented on #157
Ah I see, I needed dev sp on github, now I can see the error

[2019-11-19 01:02] sckott commented on #157
@rsbivand What is the proper way? I couldn't figure it out from the links

[2019-11-19 14:07] rsbivand commented on #157
First, PROJ 6 (I use 6.2.1), then GDAL 3 built on PROJ 6 (I use 3.0.2). Next, current **rgdal** on R-Forge https://r-forge.r-project.org/R/?group_id=884, for example source install of `install.packages("rgdal", repos="http://R-Forge.R-project.org")`. Finally, my fork of **sp** on github, https://github.com/rsbivand/sp, which requires **rgdal** >= 1.5.1. See the comments by @mdsumner and @Robinlove

[2019-11-21 07:49] florianm commented on #65
After upgrading to Ubuntu to 19.10 "Effin' Eoan", geojsonio functions failed with `ibv8.so.3.14.5: cannot open shared object file`. This was fixed by re-installing R pkg V8. Blood, sweat, tears, and solution in details.

<details>

## geojsonio can't find libv8.so
[code]

## Attempting re-installing geojsonio
[code]

(buzzer sound)

## Attempting re-installing system package libv8-dev
[code]
So li

[2019-11-21 19:43] sckott commented on #65
thanks @florianm !  for the details, i''m sure this will come in handy for many folks

[2019-11-27 20:07] sckott commented on #148
Closing this. errors were only related to the `validate` fxn, which is now defunct

[2019-11-27 20:07] #148 closed

[2019-11-28 00:26] #150 closed

[2019-11-28 00:26] #157 closed

[2019-11-28 00:29] sckott commented on #41
rgdal replaced with sf, work in 1ea0bd3c63c4d0dfe61ee6bf67115e5210593914

[2019-11-28 00:29] #41 closed

[2019-11-28 00:32] sckott commented on #77
@ateucher i've replaced rgdal with sf - now that we're using `sf::st_write` know of any way to avoid the disk write with that fxn?

[2019-11-28 06:37] ateucher commented on #77
I don't think so @sckott, pretty similar behaviour to rgdal in that sense...

[2019-11-28 08:43] mdsumner commented on #77
geojsonsf?

[2019-11-28 20:50] ateucher commented on #77
I had a similar thought @mdsumner. I think I'll probably use it in rmapshaper too

[2019-11-30 15:27] sckott commented on #77
good idea @mdsumner

[2019-12-21 18:45] #105 closed

[2020-01-08 18:15] camille-s opened #158 "object_name not passed to topojson_list, topojson_json"
Really appreciate this package. I'm trying to create a set of topojson objects with an object name other than "foo." I read #129 and see that the `object_name` argument was added to `topojson_write`, and that that argument is available in `geo2topo`.

Looking at the source code, `topojson_json` calls `geojson_json`, then `geo2topo` on that, but the `...` gets passed only to the inner function (`ge

[2020-01-09 19:23] sckott commented on #158
thanks for opening this issue @camille-s & for the kind words (its a group effort)

taking a look

[2020-01-10 23:12] #158 closed

[2020-01-10 23:12] sckott commented on #158
@camille-s added `object_name` param to topojson fxns, let me know if that works fo ryou

[2020-01-11 19:32] camille-s commented on #158
@sckott That works, thank you!

[2020-01-29 21:53] sckott opened #159 "gdal3/proj6 fixes"
from kurt

<https://cran.r-project.org/web/checks/check_results_geojsonio.html>.

well as GDAL 2 (and PROJ 4), as used for the other check systems?

[2020-01-30 06:24] osserman opened #160 "as.json "arcs" seems to be missing set of brackets"
<details> <summary><strong>Session Info</strong></summary>
<br />
R version 3.5.1 (2018-07-02)<br />
Platform: x86_64-apple-darwin15.6.0 (64-bit)<br />
Running under: macOS  10.15.2<br />

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/l

[2020-01-30 06:41] osserman opened #161 "weird changes to coordinates from topo2geo(geo2topo(x))"
<details> <summary><strong>Session Info</strong></summary>
R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS  10.15.2

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/libRlapack.dylib

locale:

[2020-01-30 16:53] sckott commented on #161
thanks for this @osserman !

however, I can't replicate the problem, either with the current version of `geojsonio` on cran or the development version. I haven't tried it with your version of R, but I don't think that would cause any issues.

`geojsonio` doesn't define a `summary` method - what summary method is being called? there's a lot of pkgs loaded, so hard to know what s3 method is being us

[2020-01-30 17:07] sckott commented on #160
thanks for this @osserman !

So is the output of `topojso_json` correct? And the output of `topojson_list` is incorrect?

`as.json` calls an internal fxn `to_json`, which is really just a call to `jsonlite::toJSON`. If we do

[code]

[2020-01-30 18:14] osserman commented on #161
Thanks @sckott for the quick reply.

Interesting that not reproducible.

Summary was just the first method I tried that actually output the json string. Looks like it's base or sp summary method that is being called (I get the same output from `base::summary(x3)` and `sp::summary(x3)`). But I don't think it's about the summary, since I also get the same output with `cat(x3)` and same changed coord

[2020-01-30 18:46] osserman commented on #160
Ah -- cool, sorry I didn't follow `as.json()` to it's source.  But yeah `topojson_json()` is producing json that is interpretable in d3 for me, and `as.json(topojson_list())` is what fails. Just tried a few things, and confirming that for topojson_json to be interpretable (at least in my case, but I think more broadly) almost all elements in the topojson_list needs to be unboxed; except the array

[2020-01-30 20:16] sckott commented on #161
So it is indeed the R version you're running. I tested on R 3.5 and I now get your result. It must be something about that R version that is causing the issue. Can you upgrade to the latest R version?

the `topo2geo` uses internally `sf::st_read` - i see you're using an older version of sf from 2018. its possible sf then didn't have topojson support, not sure.

anyway, upgrading to the most recent

[2020-01-31 00:26] osserman commented on #161
Sure enough -- that did it. Sorry I hadn't tried that for and thanks for tracking it down!

[2020-01-31 00:26] #161 closed

[2020-01-31 23:28] sckott commented on #160
it's a bit complicated to automatically make sure arcs don't get mis-handled because they can be nested within a list.

Curious, why are you going `topojson_list` to `as.json`? Why not just `topojson_json`? Are you making a list to edit that list, then convert to json?

[2020-02-02 07:40] osserman commented on #160
Yeah, I'm testing some simplification approaches that happen on the topojson-arc level. Doing that in `topojson_list` form is the most convenient / only way I've figured out how to implement.

But just came up with a workaround that at least works for my use case. (Details below if anyone else is curious / stumbles on the same issue).

In terms of a more stable / general solution, happy to help if

[2020-02-03 08:49] HywelMJ opened #163 "Related to #153? Error reading large file "name too long?""
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

test <- geojsonio::geojson_read(
  "https://opendata.arcgis.com/datasets/d49160d2e5af4123b15d48c2e9c70160_4.geojson")

produces
Error in unlink(x) : file name conversion problem -- name too long?

The file downloads OK using download.file. Given short name EW.geojson and then attempting to read in locally produced the s

[2020-02-05 23:01] sckott opened #164 "make geojson_sf take strings"

[2020-02-05 23:01] #164 closed

[2020-02-05 23:16] sckott commented on #164
and sp

[2020-02-06 00:09] sckott commented on #163
thanks @HywelMJ having a look

[2020-02-06 05:45] sckott commented on #163
what were you trying to get as the output?

[2020-02-06 12:27] HywelMJ commented on #163
I'm not sure I understand your question so forgive me if my responses seem odd. The file downloads but geojson_read still suggests 'name too long?' even when the name has been changed to a very short name - 'EW.geojson'. (Actually, I should have thought of checking the length of the path name. That could be pretty long on my PC.)

But surely "https://opendata.arcgis.com/datasets/d49160d2e5af4123b1

[2020-02-06 12:43] HywelMJ commented on #163
Sorry but I can't reproduce the problem myself now so best close the issue. Sorry to have wasted your time.

[2020-02-06 12:53] HywelMJ commented on #163
More apologies. Problem reproduced using https://opendata.arcgis.com/datasets/e1ed938a33cf472fa802d99b1900164b_1.geojson

[2020-02-06 17:08] sckott commented on #163
I meant: Do you want an R list? json? an sf object? something else?

[2020-02-06 17:18] sckott opened #165 "geojsonio2 or re-write for v1.0?"
I often lose track/get confused about what different functions do (what they take as input and give as output), and since v0.1 in 2015 sf has come along and other changes in the spatial pkg landscape. Maybe it's worth considering a re-thinking of the package, its purpose, its role in the suite of spatial pkgs. An overall goal i think would be to simplify, probably drop the input/output options tha

[2020-02-06 19:22] sckott commented on #160
Glad you sorted out a solution that works.

in terms of changes in this package for this issue, there would need to be a solution that would be fast and no chance of failing, perhaps some solution walking down nested lists

[2020-02-06 19:52] ateucher commented on #165
I've been having similar thoughts @sckott.

Quick thoughts on your ideas:

I'm not sure many people use geojson lists... I support them in rmapshaper, but I'd bet not many people go that route. I'd be happy to drop them - could remove them in a branch and run some revdep checks?

I think we should still support them, but perhaps we could just convert them to sf and then do the conversion to geojso

[2020-02-07 11:45] HywelMJ commented on #163
Now I understand you. My issue is with the error message obtained when using the default setting of geojson_read - which includes 'what = list'. Changing from the default to 'what = sf' does work.

[2020-02-07 18:56] sckott commented on #163
Sounds like you do want a list, but you did not say so explicitly, we'll go with a list then.

I'm having a look at the error still.

[2020-02-08 07:04] sckott commented on #165
- lists: right, could remove them then run checks. and one can easily just get json then jsonlite to list if they want a list. would simplify the pkg - there is that `eg1` i linked to above though
- sp: good point, i imagine there's still A LOT of people still using sp
- what can we focus on: agreed on sp and topojson

[2020-02-11 20:26] sckott commented on #163
fiddling with `geojson_read` on the `geojson_read_fixes` branch - have to come back to this a bit later as we need to submit a new version fixing other things by tomrrow

[2020-02-11 21:49] sckott commented on #159
we're testing now on GH actions with both older and newer gdal/proj setups, all passing

[2020-02-11 21:49] #159 closed

[2020-02-21 07:52] osserman commented on #160
I finally had a moment to revisit this in search of a faster and more general solution. This is working for my use-cases and isn't appreciably slower than the current `as.json()` function.

I played with at a few potential recursive solutions that imitate the logic of toJSON more closely, but ended up with this approach instead -- which first `toJSON()`'s any $arcs in each of the $geometries with

[2020-02-28 19:45] sckott opened #166 "fix for stringsAsFactors for R v4"
r-devel (r77865 or later), which makes data.frame() and read.table() use
a stringsAsFactors = FALSE default, which is planned to become the new
default for the upcoming R 4.0.0.

<https://developer.r-project.org/Blog/public/2020/02/16/stringsasfactors/index.html>
for more information about this change.

default?  In principle, this can easily be achieved by adding
stringsAsFactors = TRUE to the re

[2020-03-02 23:36] #166 closed

[2020-03-31 18:55] rsbivand commented on #159
Sorry, with released 0.9-0 still seeing:

[code]
as on CRAN. The structure of the **sf** `"crs"` object has changed completely. Maybe drop `test-crs_convert.R` until  things stabilize?

[2020-04-02 22:31] sckott opened #168 "make topojson_write defunct for now to avoid check problems"

[2020-04-02 22:47] #168 closed

[2020-04-17 22:05] sckott commented on #160
thanks and sorry for the delay. `topojson_list()` doesn't have a s3 class attached to it, so we can't dispatch on the `as.json` method. but we could maybe itnernally within `as.json` detect if the obect is likely topojson, and if so, use your code above. does that sound good?

[2020-07-30 00:32] dlebauer opened #170 "geojson_json and geojson_write seem to unexpectedly truncate lat/lon precision"
I would like to translate my data to geojson. But I was surprised that the values of lat and lon were truncated by the `geojson_json` function.

Not sure if this is related to #141 or #96 that also deals with precision. Apologies if this is a duplicate (but fwiw - the 7 digits implemented in #96 should be sufficient for cm accuracy in my use case - sorry for the arbitrary precision in the example

[2020-07-31 02:52] marsupialsoup opened #171 "Unable to install geojsonio in fedora"
When I try to install geojsonio package using

install.packages('geojsonio', dependencies=TRUE, repos="http://cran.rstudio.com/")

, I even had sudo before I starting R on command line. This is the error I get:

Warning messages:
1: In install.packages("geojsonio", dependencies = TRUE, repos = "http://cran.rstudio.com/") :
  installation of package ‘units’ had non-zero exit status
2: In install.pa

[2020-07-31 18:22] sckott commented on #170
thx @dlebauer having a look

[2020-07-31 18:35] sckott commented on #171
can you install any packages?

[2020-07-31 18:39] sckott commented on #170
What is your default `getOption("digits")` value?

[2020-07-31 18:55] dlebauer commented on #170
@sckott 7

[2020-07-31 19:15] marsupialsoup commented on #171
Yes, I can install packages.

[2020-07-31 22:28] sckott commented on #170
Please try again after reinstalling like `remotes::install_github("ropensci/geojsonio")`

`precision` param added to `geojson_json()` and `geojson_write.json()`

[2020-07-31 22:34] sckott commented on #171
ok, let me know if it works after installing dependencies. I don't have immediate/easy access to a fedora environment to test

[2020-08-01 00:39] marsupialsoup commented on #171
I tested it on a script, I believe it's working.

[2020-08-01 00:39] #171 closed

[2020-08-03 20:23] dlebauer commented on #170
Fantastic, it works! Thanks for the quick response!

[code]

[2020-08-03 20:23] #170 closed

[2020-10-26 15:35] sckott opened #172 "sprintf thing from cran"
by the format and this is showing one or more warnings in the checks of
these packages, usually in the examples.  E.g.

   argument not used by format
Warning in sprintf("<a href='%s'>%s</a>", getFunctionLinks(tokens[w]),
tokens[w],  :
   argument not used by format

grepping the .Rcheck directory).  In some cases the warning seems to be
from another package, usually one with the same maintainer.

[2020-10-26 15:35] sckott commented on #172
no deadline given

[2020-10-27 05:13] osserman commented on #160
I'm incredibly sorry for the delayed response @sckott . Totally lost this amidst the pandemic. That solution sounds great to me if still relevant / doable. Thanks!

[2020-10-28 17:03] sckott commented on #160
Okay, yes still doable. I'll take a look at it soon

[2020-11-23 18:23] #172 closed

[2021-01-08 01:46] #160 closed

[2021-01-08 01:47] sckott commented on #143
considering this sorted out

[2021-01-08 01:47] #143 closed

[2021-01-12 20:01] #163 closed

[2021-01-12 23:19] #156 closed

[2021-03-03 10:10] jannes-m commented on #65
After adding the v8 ppa repository, I additionally needed to purge the libv8-3.14.5 package to make **V8** work again

[code]

[2021-03-03 17:30] sckott commented on #65
thanks @jannes-m for sharing your solution

[2021-03-29 00:41] aniruhil opened #173 "library(geojsonio) crashes RStudio/R"
Merely trying to load `library(geojsonio)` crashes RStudio. Same result if I load the library in R.app. Details of sessionInfo() follow. Any clue as to what might be going on here?

FWIW I did uninstall the package, restarted RStudio, reinstalled the geojsonio binary, restarted RStudio, and yet ended up with the same result.

<details> <summary><strong>Session Info</strong></summary>

[code]
</det

[2021-05-03 19:14] sckott commented on #173
Thanks. Not clear from the trace where the problem is. Is this still happening? I can't replicate the problem

[2021-05-04 15:33] aniruhil commented on #173
Still an issue @sckott  but I am hoping to do a clean install of R 4.1.x later this month and see if the issue goes away. I appreciate your checking in!

[2021-05-04 18:16] sckott commented on #173
sounds good

[2021-07-16 16:47] lecy commented on #173
@aniruhil I've got students running into the same issue. Did R 4.1.x solve the problem?

[2021-07-16 17:45] aniruhil commented on #173
@lecy I managed to resolve it by uninstalling R and RStudio, and then doing a fresh install. Has worked fine since then. Here is my sessionInfo() in the `details`

<details>
R version 4.1.0 (2021-05-18)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Big Sur 11.4

Matrix products: default
LAPACK: /Library/Frameworks/R.framework/Versions/4.1/Resources/lib/libRlapack.dylib

locale:
[

[2021-07-16 17:56] lecy commented on #173
@aniruhil excellent, thanks!

[2021-09-05 22:51] GasumSam opened #174 "Error in library(geojsonio): there is no package called ‘geojsonio’"
Trying to install package, it's fine apparently. But when a execute library('geojsonio')..." Error in library(geojsonio): there is no package called ‘geojsonio’ ".

[2021-12-17 13:05] maelle opened #175 "test failures"
:wave: @sckott

[code]

Some of those are false positives due to my laptop showing error messages in French. Maybe the others are due to auth?

[2021-12-17 16:17] #174 closed

[2021-12-17 16:17] #173 closed

[2021-12-17 16:27] sckott commented on #175
thanks i'll have a look

[2022-01-03 12:28] maelle commented on #175
I see

[code]

<sup>Created on 2022-01-03 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-01-03 12:31] maelle commented on #175
This was a PAT scope problem :woman_facepalming:

[2022-01-03 12:31] #175 closed

[2022-01-03 17:45] sckott commented on #175
nice job figuring it out!

[2022-05-20 06:24] maelle opened #178 "New Maintainer Wanted :-)"
Or a new maintainer _team_

If you're interested, please comment in the issue.
For more info, see

* [our guidance on _Changing package maintainers_](https://devguide.ropensci.org/changing-maintainers.html);
* [our _Package Curation Policy_](https://devguide.ropensci.org/curationpolicy.html).

[2022-05-20 08:17] Athene-ai commented on #178
I am  interested

[2022-05-31 00:51] mikemahoney218 commented on #178
Howdy @maelle ! I'd be open to taking the package on, but I'm not particularly familiar with the geojson format. I'd be able to keep the lights on (and the package on CRAN and so on), but wouldn't be driving any major changes. If anyone more familiar with the format is interested, I'd be more than happy to have them take over instead (or I could assist as needed).

[2022-05-31 06:52] maelle commented on #178
Thanks so much @mikemahoney218! Lucky geojsonio :smile_cat:

How about we leave this open until Friday to see if anyone wants to work with you on this? I'll give you admin access right now though.

[2022-05-31 06:54] maelle commented on #178
Do you also need access to https://github.com/ropensci/geojson? I promise I'm not trying to add work on your plate, just tell me if that's needed, otherwise feel free to ignore.

[2022-05-31 12:01] mikemahoney218 commented on #178
Is Jeroen still interested in geojson? If he isn't, I'd be happy to take it over so the pair stay alive, but if he is then I don't need to replace/join him on it.

[2022-05-31 12:14] jeroen commented on #178
@mikemahoney218 I maintain too many packages, would be very happy if you are willing to help with maintaining this one!

[2022-05-31 12:15] mikemahoney218 commented on #178
Happy to help, then :smile:

[2022-05-31 17:41] ateucher commented on #178
Thanks so much @mikemahoney218 for taking this on! I am happy to stay involved and help with issues etc., I'm just really glad you've stepped up to take on the maintenance role!

[2022-06-14 13:49] maelle commented on #178
Closing this, thanks again @mikemahoney218 (and @ateucher)!

[2022-06-14 13:49] #178 closed

[2022-09-09 09:17] maelle opened #179 "Maintenance status / help needed?"
@mikemahoney218

Do you still intend to become this package's maintainer?

If so do you need any help? For instance an aspect where you'd appreciate some tips, contributions, a PR review? Do you need an invitation to our friendly Slack workspace?

[2022-09-09 13:32] maelle commented on #179
Thanks!!

[2022-09-10 14:46] mikemahoney218 opened #180 "Upkeep for geojsonio"
Pre-history

* [x] `usethis::use_readme_rmd()`
* [x] `usethis::use_roxygen_md()`
* [x] `usethis::use_github_links()`
* [x] `usethis::use_tidy_github_labels()`
* [x] `usethis::use_tidy_style()`
* [x] `usethis::use_tidy_description()`
* [x] `urlchecker::url_check()`

2020

* [x] `usethis::use_package_doc()`
Consider letting usethis manage your `@importFrom` directives here.
`usethis::use_import_from

[2022-09-12 13:50] mikemahoney218 opened #182 "Release geojsonio 0.9.5"
Prepare for release:

* [x] `git pull`
* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_geojsonio.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `devtools::build_readme()`
* [x] `urlchecker::url_check()`
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran

[2022-09-12 13:58] mikemahoney218 opened #183 "`usethis::use_testthat(3)` and upgrade to 3e, testthat 3e vignette"
The test suite is going to need a good bit of work to get it to work with testthat 3e, but I'd love to get it there.

This vignette has advice on how to get there:
https://testthat.r-lib.org/articles/third-edition.html

[2022-09-12 14:03] mikemahoney218 commented on #183
Hey @maelle -- I used `usethis::use_tidy_github_labels()` to update the labels on this repo, which means the ones I just added now have an emoji in the label. Will those still get picked up by rOpenSci's automation for https://ropensci.org/help-wanted/ and similar?

[2022-09-12 14:31] mikemahoney218 commented on #179
Release tracked in #182 . Package submitted to CRAN at 14:30Z 2022-09-12 :smile:

[2022-09-12 15:46] steffilazerte commented on #183
Hi @mikemahoney218, I just checked and yes, issues tags with emojis are still caught our script and will be tweeted (probably next week as there is a bit of a delay). I think we might have an issue with the ones displayed online but I'll check with @maelle about that. Thanks!

[2022-09-12 16:07] mikemahoney218 commented on #183
Awesome, thanks!

[2022-09-12 17:15] maelle commented on #183
Indeed we have an issue that is now fixed :sweat_smile: Thanks @mikemahoney218 @steffilazerte for catching it! :pray:

[2022-09-12 17:17] maelle commented on #183
See https://ropensci.org/help-wanted/ (you can now hide all our comments if you want to keep this issue thread clean :wink: )

[2022-09-13 12:58] #182 closed

[2022-09-13 12:58] #179 closed

[2022-09-13 14:24] mikemahoney218 opened #185 "Get off rgeos"
`rgeos` will be retired `by the end of 2023`, which means we have a clear deadline to move this package away from rgeos and towards the geos package instead. My sense is that the code in this package doesn't actually call rgeos directly very often, but rather provides methods for converting from rgeos into different formats; we should soft-deprecate those methods (probably targeting removal in ~Ja

[2022-09-13 14:26] mikemahoney218 opened #186 "Migrate from maptools"
`maptools` will be retired `by the end of 2023`, which means we have a clear deadline to move this package away from maptools.

[2022-09-23 09:40] czeildi commented on #183
Hi, I am happy to try and give this a go. For context about myself: I have experience with package development and testthat, but I haven't used this package before.

[2022-09-23 13:26] mikemahoney218 commented on #183
Awesome @czeildi! I'd be happy to look at any PRs you submit. I haven't honestly taken a long look at what needs to happen here -- I know that the test files use a _lot_ of features from the earlier edition, but I think all the changes that are required are testthat-specific and don't have a ton to do with geojsonio itself.

[2022-10-07 12:55] #183 closed

[2022-10-07 13:00] mikemahoney218 opened #190 "Release geojsonio 0.10.0"
Prepare for release:

* [x] `git pull`
* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_geojsonio.html)
* [x] Check if any deprecation processes should be advanced, as described in [Gradual deprecation](https://lifecycle.r-lib.org/articles/communicate.html#gradual-deprecation)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `d

[2022-10-07 14:45] #190 closed